    /* style test video */
    
    body {
        margin: 0px;
    }
    
    .video-container-outer {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .video-container {
        float: left;
        width: 100%;
        max-width: 1920px;
        position: relative;
    }
    
    .video-container iframe {
        float: left;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    @media screen and (max-width:1024px) {
        .video-container {
            max-width: 768px;
        }
        .video-container iframe {
            height: 435px;
        }
    }
    
    @media screen and (max-width:767px) {
        .video-container {
            max-width: 569px;
        }
        .video-container iframe {
            height: 315px;
        }
    }
    
    @media screen and (max-width:568px) {
        .video-container {
            max-width: 481px;
        }
        .video-container iframe {
            height: 270px;
        }
    }
    
    @media screen and (max-width:480px) {
        .video-container {
            max-width: 375px;
        }
        .video-container iframe {
            height: 211px;
        }
    }
    
    @media screen and (max-width:374px) {
        .video-container {
            max-width: 100%;
        }
        .video-container iframe {
            height: auto;
        }
    }