* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-img {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 768px;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.box-img img {
    width: 100%;
    max-height: 768px;
    object-fit: contain;
    object-position: center;
}