@font-face {
    font-family: Poppins-Regular;
    src: url(Poppins-Regular.ttf)
}

@font-face {
    font-family: Poppins-Bold;
    src: url(Poppins-Bold.ttf)
}

@font-face {
    font-family: Poppins-Medium;
    src: url(Poppins-Medium.ttf)
}

.wrapper {
    max-width: 100%;
    width: 100%;
    margin: 40px auto;
    padding: 0;
}

.chat-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.chat-item.info {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.chat-item.info .chat-text {
    padding: 5px 15px;
    color: #000;
    background-color: #f9f9f9;
}

.chat-item .chat-name {
    color: #fff;
    font-family: Poppins-Bold;
    font-size: 12px;
    line-height: 22px;
}

.chat-item .chat-text {
    position: relative;
    background: #007bff;
    padding: 6px 45px 8px 9px;
    border-radius: 7.5px;
    display: inline-block;
    min-width: 100px;
    color: #fff;
}

.chat-item .chat-text.origin {
    color: #fff;
    background: #007bff;
}

.chat-item .chat-text.self {
    color: #000;
    background-color: #f9f9f9;
}

.chat-item .chat-time {
    font-family: Poppins-Regular;
    font-size: 10px;
    color: #f2f2f2;
    display: grid;
    justify-content: flex-end;
    margin: -17px -35px 0 0;
}

.chat-item .self .chat-name,
.chat-item .self .chat-time {
    color: #000 !important;
}

.card {
    box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    position: relative;
}

.card.card-progress:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.card,
.card-header,
.card-footer {
    border-color: #f2f2f2;
}

.card-header {
    background-color: #fff;
}

.card-header .title {
    color: #000;
    text-transform: uppercase;
    font-family: Poppins-Bold;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 22px;
}

.card-header .users {
    color: #666;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-footer {
    background-color: #fff;
    padding: 0;
}

.card-footer .form-control {
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
}

.card-footer .btn {
    height: 54px;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}