@font-face {
    font-family: 'poppins-bold';
    src: url('Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('Poppins-Light.ttf');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-regular';
    src: url('Poppins-Regular.ttf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'montserrat-light';
    src: url('Montserrat-Light.ttf');
}

@font-face {
    font-family: 'montserrat-medium';
    src: url('Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('Montserrat-Regular.ttf');
}