@media screen and (max-width: 1440px) {
    /* Style Sidebar Start */
    .sidebar-header-login .chek-in p {
        color: #ffffff;
        font-size: 15px;
    }
    .chek-in .btn-warning {
        border-radius: 1.2rem;
        font-size: 12px;
        font-weight: bold;
        min-width: 100px;
        color: rgb(16, 30, 72);
    }
    .chek-in .btn-outline-warning {
        border-radius: 1.2rem;
        font-size: 12px;
        font-weight: bold;
        min-width: 100px;
        color: #ffffff;
    }
    .side-title h5 {
        font-weight: bold;
        font-size: 19px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: rgb(16, 30, 72);
        font-size: 18px;
        width: 100%;
    }
    /* Style Header */
    .section-header {
        position: fixed;
        top: 0;
        color: #ffffff;
        background-color: rgb(16, 30, 72);
        width: 100%;
        z-index: 999;
        min-height: 60px;
        max-height: 110px;
    }
    .section-header .box-togleM p {
        color: #fff;
        float: left;
        margin-top: .4rem;
        font-size: 16px;
        width: 60px;
        padding-left: 0;
    }
    .section-header .box-logoM {
        float: left;
        width: 70%;
    }
    .box-logoM #logo {
        float: left;
        width: 100%;
    }
    .public-title-menu h3 {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin-top: .1rem;
        margin-bottom: 0;
        color: #ffc107;
    }
    .section-header .box-logoM img {
        float: left;
        margin-left: 42%;
        width: 16%;
    }
    .section-header .box-subsribe {
        float: left;
        width: 40%;
    }
    /* Register Start */
    /* Register End */
    /* Style Content Start */
    #section2 h2 {
        font-size: 25px;
        font-weight: bold;
        margin-left: 5%;
        width: 90%;
        margin-top: 2%;
    }
    .left-point-image {
        width: 180px;
        height: 180px;
    }
    .right-point-image {
        width: 170px;
        height: 170px;
    }
    .right-point-title {
        width: 245px;
        height: 39px;
    }
    .points-content-number {
        float: left;
        width: 45px;
        height: 45px;
        border-style: solid;
        border-color: rgb(10, 10, 10);
        border-radius: 6rem;
        text-align: center;
        position: absolute;
    }
    .points-content-number .point-number {
        font-size: 20px;
        font-weight: bold;
        width: 80%;
        margin: 10%;
    }
    #section2 h3 {
        font-weight: bold;
        font-size: 18px;
    }
    #section2 p {
        font-size: 16px;
    }
    #section3 h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    #section3 h3 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 3%;
    }
    #section3 h4 {
        font-size: 17px;
        text-align: center;
    }
    #section4 h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    #section4 .btn-outline-secondary {
        width: 150px;
        min-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        border-radius: 1rem;
        border: none;
        background-color: rgb(247, 244, 244);
    }
    #section4 .card {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 500px;
    }
    #section4 h3 {
        font-size: 16px;
        margin-bottom: 1rem;
    }
    #section4 p {
        font-size: 14px;
    }
    #section4 h5 {
        float: left;
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-top: 2rem;
    }
    #section5 {
        height: 740px;
    }
    .instructor-comming {
        height: 650px;
    }
    #section5 h2 {
        font-size: 25px;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
    }
    #section5 .btn-outline-secondary {
        width: 150px;
        min-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        font-size: 15px;
        border-radius: 1rem;
        border: none;
        background-color: rgb(247, 244, 244);
    }
    #section5 .card {
        height: 500px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    #section5 h3 {
        font-size: 17px;
        margin-bottom: 1rem;
    }
    #section5 p {
        font-size: 14px;
    }
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        font-size: 14px;
    }
    #section5 h5 {
        float: left;
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-top: 2rem;
    }
    /* Style Footer Start */
    .box-image-info .box-logo img {
        width: 50%;
        margin-left: 15%;
        vertical-align: middle;
    }
    .box-image-info .box-info {
        width: 50%;
        float: left;
    }
    #footer .box-media-container {
        float: left;
        width: 50%;
    }
    .box-media-container .box-media {
        float: left;
        width: 50%;
    }
    .box-media .media-image {
        float: left;
        width: 20%;
        height: 100px;
        line-height: 100px;
    }
    .box-media .media-image img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        vertical-align: middle;
    }
    .box-media .media-text p {
        color: #fff;
        vertical-align: middle;
        font-size: 14px;
    }
    .label-navigation {
        position: absolute;
        right: 4rem;
        top: 4.5rem;
    }
    .label-navigation h5 {
        float: left;
        font-size: 16px;
    }
    .box-navigation #myBtn {
        position: fixed;
        bottom: 2.5rem;
        right: 5.5rem;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(25, 66, 170);
        cursor: pointer;
        padding: 0px;
        width: 60px;
    }
    /* Style Content Start */
    /* Style My Account All */
    #section1-account .myprofile-picture {
        width: 100%;
        margin-top: 2rem;
    }
    #section1-account .myprofile-picture img {
        max-width: 70%;
        margin-left: 15%;
    }
    #section1-account .myprofile-bottom .btn-warning {
        width: 90%;
        border-radius: .5rem;
        margin-top: 1rem;
        text-align: left;
        padding-left: 2rem;
        background-color: rgb(221, 219, 219);
        border: 1px solid rgb(221, 219, 219);
        color: rgb(16, 30, 72);
        margin-left: 5%;
        font-weight: normal;
    }
    #section1-account .box-account {
        width: 80%;
        float: left;
        padding: 5%;
    }
    #edit-profile-page .label-bottom {
        width: 0;
        float: left;
    }
    #section1-account .button-change-password {
        border-radius: 1.2rem;
        font-weight: bold;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        float: right;
        margin-right: 45%;
        width: 200px;
        margin-top: 2rem;
    }
    /* My Course Start */
    #mycourse-page .card-deck {
        width: 49%;
        float: left;
        margin: 3px;
    }
    /* My Certificate Start */
    #mycertificate-page .label-title h4 {
        float: left;
        font-weight: bold;
    }
    #mycertificate-page .label-title {
        margin-bottom: 2rem;
        font-weight: bold;
        color: rgb(16, 30, 72);
        width: 100%;
        float: left;
        margin-left: 5%;
        margin-top: 2rem;
    }
    #mycertificate-page .box-certificate {
        width: 90%;
        float: left;
        background-color: rgb(16, 30, 72);
        color: #fff;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    .label-btn-certificate {
        width: 90%;
        float: left;
        margin-left: 5%;
    }
    /* Style My Transaction Start */
    #mytransaction-page .label-title {
        margin-bottom: 1rem;
        font-weight: bold;
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
    #mytransaction-page .box-list-transaction {
        width: 100%;
        min-height: 199px;
        border: 2px solid #000;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /* Page Style Omni Detail */
    .box-activity-selling-elearning {
        width: 100%;
        float: left;
        padding-left: 2%;
    }
    .selling-activity-left {
        float: left;
        width: 50%;
    }
    .selling-activity-right {
        float: left;
        width: 50%;
    }
    .selling-activity-left .icon {
        float: left;
        width: 10%;
    }
    .selling-activity-right .icon {
        float: left;
        width: 10%;
        margin-left: 60%;
    }
    .selling-activity-left .icon img,
    .selling-activity-right .icon img {
        float: left;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .selling-activity-left .selling-desc,
    .selling-activity-right .selling-desc {
        float: left;
        width: 30% !important;
        margin-left: 0 !important;
    }
    /* Page Style Our Plans Start */
    #section1-our-plan {
        float: left;
        width: 100%;
    }
    .box-title-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .box-title-container h2 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
    .box-title-container p {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .box-title-container ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 25%;
        margin-left: 10%;
    }
    .box-title-container ul li {
        display: inline-block;
        width: 14%;
    }
    .box-title-container ul li .btn-warning {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #EFEFEF;
        border-color: #EFEFEF;
        font-size: 14px;
    }
    .box-title-container ul li .btn-warning:focus {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:active {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-our-plan-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-our-plan-container .our-plan-plan {
        float: left;
        width: 400px;
        height: 400px;
    }
    .plan-body {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(16, 30, 72);
        color: #fff;
        border-radius: 1rem;
        height: 400px;
        padding-top: 10%;
        position: relative;
    }
    .box-criteria {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-criteria .criteria-number {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-number h2 {
        float: left;
        width: 100%;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
    .box-criteria .criteria-info {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-info p {
        float: left;
        width: 100%;
        text-align: left;
    }
    .box-amount {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-amount .amount-price {
        float: left;
        width: 100%;
    }
    .box-amount .amount-price h1 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    .box-amount .amount-price sub {
        font-size: 15px;
    }
    .plan-body .box-description {
        float: left;
        width: 80%;
        margin: 10%;
        text-align: center;
    }
    .plan-body .box-description p {
        float: left;
        width: 90%;
        margin: 5%;
        font-size: 14px;
    }
    .plan-body .box-checkout {
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .plan-body .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-weight: bold;
        font-size: 17px;
    }
    /* Page Style Our Plans End */
    /* Page Learning Page Search All Start */
    #learning-page-all {
        float: left;
        width: 100%;
        margin-bottom: 3rem;
    }
    #learning-page-all .box-banner {
        float: left;
        width: 100%;
    }
    #learning-page-all .box-banner img {
        float: left;
        width: 100%;
    }
    .box-table {
        display: table;
        width: 100%;
        border: 2px solid rgb(16, 30, 72);
    }
    .box-object-search {
        float: left;
        width: 100%;
    }
    .box-object-search .form-control:focus {
        box-shadow: 0 0 0 0.5px rgb(16, 30, 72);
    }
    .box-object-search .form-control {
        border: 1px solid rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary.focus,
    .box-object-search .btn-outline-secondary:focus {
        box-shadow: 0 0 0 0.5px rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary:hover {
        color: #fff;
        background-color: rgb(16, 30, 72);
        border-color: rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary:focus {
        color: #fff;
        background-color: rgb(16, 30, 72);
        border-color: rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .box-object-search .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .box-object-search .show>.btn-outline-secondary.dropdown-toggle {
        color: #fff;
        background-color: rgb(16, 30, 72);
        border-color: rgb(16, 30, 72);
    }
    .option-menu {
        background-color: rgb(16, 30, 72);
        color: #fff;
        list-style: none;
        font-size: 16px;
        padding: 5px;
        padding-left: 20px;
    }
    .box-object-search ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 0;
        margin-left: 0;
    }
    .box-object-search ul li {
        list-style: none;
    }
    .box-object-search ul li a {
        width: 90%;
        padding: 5px;
        display: block;
        font-size: 16px;
        margin-left: 10%;
    }
    .box-container-result .box-card {
        float: left;
        width: 50%;
        padding: 20px;
    }
    .box-card .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        height: 500px;
    }
    /* Page Learning Page Search All End */
    /* ===========Style new homepage start============== */
    .box-method-title {
        padding: 0px 25px 0 0;
    }
    .box-title-img img {
        width: 110px;
        height: 110px;
    }
    .card-desc-title {
        font-size: 1.2vmax;
    }
    .list-card {
        padding: 5px 10px;
    }
    .box-btn-group {
        margin: 0 0 15px 0;
    }
    /* ===========Style new homepage end============== */
}

@media screen and (max-width: 1289px) {
    .new-header .box-logo {
        width: 15%;
        padding: 12px 0;
    }
    .new-header .box-search {
        width: 40%;
        padding: 7px 0;
    }
    .new-header .box-action {
        width: 40%;
    }
    .title-table {
        height: 482px;
    }
    .box-title-img h3 {
        font-size: 20px;
        line-height: 32px;
    }
    .list-card-inner {
        height: 415px;
    }
    .list-card-img img {
        height: 150px;
    }
    .courses .list-card-img img {
        height: 175px;
    }
    /* style header mobile start */
    .header-web,
    .detail-learning-web {
        display: none;
    }
    .header-mobile,
    .detail-learning-mobile {
        display: block;
    }
    .section-header .btn-info {
        padding: 6px 0;
    }
    .link-back {
        display: none;
    }
    /* style header mobile end */
    /* Style Content Start */
    #content {
        min-height: 80vh;
        margin-top: 69px;
    }
    /* Page Style Login  Start*/
    .box-login-container {
        width: 650px;
        height: 400px;
    }
    .box-login {
        width: 650px;
        height: 300px;
        top: 50px;
    }
    .box-login-form {
        width: 350px;
        height: 400px;
        padding: 3%;
        right: 3rem;
    }
    .box-login .box-link-register {
        float: left;
        width: 250px;
        height: 300px;
        padding-left: 3%;
        padding-top: 0;
    }
    .box-login h2 {
        font-weight: normal;
        font-size: 20px;
        color: #fff;
        margin-top: 1.5rem;
    }
    .box-link-register #button-register {
        width: 60%;
        border-radius: 1rem;
        font-weight: bold;
        margin-top: 70%;
        font-size: 13px;
    }
    .box-content-login h3 {
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 20px;
    }
    #bottom-login {
        margin-top: 3rem;
    }
    .box-content-login .btn-warning {
        font-weight: bold;
        color: rgb(16, 30, 72);
        border-radius: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 13px;
    }
    /* Page Style Login  End*/
    /* Page Style Forgot Password  Start*/
    .box-forgot {
        background-color: #ffffff;
        width: 450px;
        height: 480px;
        padding: 20px;
        box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    }
    .box-register-image img {
        width: 130px;
    }
    .box-forgot h3 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 16px;
    }
    .box-forgot p {
        text-align: center;
        font-size: 13px;
    }
    .box-forgot-form {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #bottom-forgot .btn-warning {
        font-weight: bold;
        color: rgb(16, 30, 72);
        border-radius: 1rem;
        margin-top: 1rem;
        width: 50%;
        font-size: 14px;
    }
    /* Page Style Forgot Password  End*/
    /* Sidebar Style Start */
    .sidebar-header-login .chek-in h5 {
        font-size: 18px;
    }
    .side-title h5 {
        font-weight: bold;
        font-size: 18px;
    }
    /* Header Style Start */
    .section-header {
        height: 70px;
    }
    .box-header {
        width: 100%;
        float: left;
        padding-top: .5rem;
    }
    .svg-inline--fa.fa-w-16 {
        width: .8em;
    }
    .box-logoM #logo {
        float: left;
        width: 100%;
    }
    .box-logoM .title-menu {
        float: left;
        width: 100%;
        height: 30px
    }
    .box-icon-collapse {
        float: left;
        width: 100%;
        padding-left: 1rem;
    }
    .section-header .box-logoM {
        float: left;
        width: 80%;
    }
    .section-header .box-togleM p {
        color: #fff;
        float: left;
        margin-top: 1.2rem;
        display: none;
    }
    .section-header .box-logoM img {
        float: left;
        margin-left: 40%;
        width: 20%;
    }
    .public-title-menu h3 {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin-top: .1rem;
        color: #ffc107;
    }
    .box-subscribe {
        right: 0%;
        height: 90px;
    }
    .subscribe-middle {
        margin-top: 14px;
        right: 7%;
    }
    #register-link {
        position: absolute;
        right: 7%;
    }
    .subscribe-middle ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }
    .subscribe-middle>ul>li {
        float: left;
    }
    .subscribe-middle li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 5px;
        text-decoration: none;
        font-size: 16px;
    }
    .subscribe-middle li a:hover {
        color: #ffc107;
    }
    li.dropdown {
        display: inline-block;
    }
    .dropdown:hover .isi-dropdown {
        display: block;
    }
    .isi-dropdown {
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        background-color: rgb(16, 30, 72);
    }
    .isi-dropdown a:hover {
        color: #fff !important;
    }
    .isi-dropdown a {
        color: #fff !important;
    }
    .isi-dropdown a:hover {
        color: #ffc107 !important;
        background: rgb(16, 30, 72) !important;
    }
    /* Header Style End */
    /* Page Style Homepage  Start*/
    #section2 {
        margin: 50px 0;
    }
    #section2 h2 {
        font-size: 25px;
        font-weight: bold;
        margin-left: 5%;
        width: 90%;
        margin-top: 2%;
    }
    #section2 h3 {
        font-weight: bold;
        font-size: 20px;
    }
    #section2 p {
        font-size: 16px;
    }
    #section2 .box-point-container,
    #section2 .box-point-image {
        max-width: 374px;
    }
    #section2 img {
        height: 374px;
    }
    .points-content-number .point-number {
        font-size: 1.5em;
        font-weight: bold;
        width: 80%;
        margin: 10%;
    }
    #section3 {
        margin-top: 2rem;
        width: 100%;
        height: auto;
    }
    #section3 h3 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 3%;
    }
    #section3 h4 {
        font-size: 16px;
        text-align: center;
    }
    .product-overlay h5 {
        margin-top: 2%;
        font-size: 17px;
    }
    .product-overlay p {
        font-size: 12px;
        text-align: center;
    }
    #section3 h2 {
        font-size: 25px;
        margin-top: 3%;
        text-align: center;
    }
    .product-overlay img {
        margin-top: 7%;
        width: 20%;
        margin-left: 40%;
    }
    .product-overlay .btn-outline-secondary {
        border-radius: 1rem;
        font-weight: bold;
        border: 2px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        border-color: #fff;
        margin-top: 2%;
        width: 40%;
        margin-left: 30%;
        font-size: 13px;
        padding: .5rem;
    }
    #section4 {
        width: 100%;
        height: auto;
        float: left;
        padding-top: 1%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 1%;
    }
    #section4 h2 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    #section4 h3 {
        font-size: 14px;
        margin-bottom: 1rem;
    }
    #section4 h5 {
        float: left;
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-top: 2rem;
    }
    #section4 p {
        font-size: 12px;
    }
    .box-course .box-course-content-bottom {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
    }
    #section4 .btn-outline-secondary {
        width: 130px;
        min-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        border-radius: 1rem;
        border: none;
        background-color: rgb(247, 244, 244);
    }
    #section4 .btn-outline-secondary:hover {
        background-color: #EFAF0C;
        font-weight: bold;
    }
    #section4 .btn-outline-:active {
        background-color: #EFAF0C;
        font-weight: bold;
    }
    .box-course .box-course-content {
        float: left;
        width: 90%;
        padding-left: 0;
        margin-left: 5%;
    }
    #section4 .card-deck {
        width: 50%;
        display: inline-block;
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #section4 .card {
        max-height: 400px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    .instructor-comming {
        height: 550px;
    }
    #section5 h2 {
        font-size: 25px;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
    }
    #section5 h3 {
        font-size: 14px;
        margin-bottom: 1rem;
    }
    #section5 h5 {
        float: left;
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-top: 2rem;
    }
    #section5 p {
        font-size: 12px;
    }
    a,
    a:hover,
    a:focus {
        font-size: 12px;
    }
    .box-instructor .box-instructor-content-bottom {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #section5 .btn-outline-secondary {
        width: 130px;
        min-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        font-size: 15px;
        border-radius: 1rem;
        border: none;
        background-color: rgb(247, 244, 244);
    }
    #section5.btn-outline-secondary:hover {
        background-color: #EFAF0C;
        font-weight: bold;
    }
    #section5 .btn-outline-:active {
        background-color: #EFAF0C;
        font-weight: bold;
    }
    .box-instructor .box-instructor-content {
        float: left;
        width: 90%;
        padding-left: 0;
        margin-left: 5%;
    }
    #section5 .card-deck {
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #section5 .card {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-left: 5px;
        margin-right: 5px;
        max-height: 400px;
    }
    /* Footer */
    .box-middle-object {
        height: 80px;
    }
    #footer .box-image-info {
        width: 100%;
    }
    .box-image-info .box-logo {
        line-height: 80px;
    }
    #footer .box-info {
        height: 80px;
        line-height: 80px;
    }
    #footer .box-info p {
        color: #fff;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .box-media .media-image {
        float: left;
        width: 20%;
        height: 80px;
        line-height: 80px;
    }
    .box-media .media-text {
        float: left;
        width: 80%;
        height: 80px;
        line-height: 80px;
    }
    .box-media .media-image img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        vertical-align: middle;
    }
    .label-navigation {
        position: absolute;
        right: 4.5rem;
        top: 4.5rem;
    }
    .box-navigation {
        width: 100%;
        float: left;
    }
    .box-navigation #myBtn {
        position: fixed;
        bottom: 5.5rem;
        right: 3rem;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(25, 66, 170);
        cursor: pointer;
        padding: 0px;
        width: 50px;
    }
    .box-navigation img {
        width: 5%;
        float: left;
    }
    .label-navigation h5 {
        font-size: 16px;
        display: none;
    }
    /* Page Style Homepage  End*/
    /* Page Style Topict Personal Selling  Start*/
    .selling-activity .selling-desc h5 {
        font-size: 13px;
    }
    #section2-decription-selling .column-description p {
        color: rgb(16, 30, 72);
        font-size: 14px;
    }
    #section2-decription-selling .column-learn h6 {
        font-weight: bold;
        font-size: 16px;
    }
    #section2-decription-selling .column-learn p {
        color: rgb(16, 30, 72);
        font-size: 12px;
    }
    .selling-activity .icon {
        width: 20%;
    }
    .selling-activity .icon img {
        width: 100%;
    }
    .box-activity-selling-elearning {
        width: 100%;
        float: left;
        padding-left: 2%;
    }
    .selling-activity-left {
        float: left;
        width: 50%;
    }
    .selling-activity-right {
        float: left;
        width: 50%;
    }
    .selling-activity-left .icon {
        float: left;
        width: 20%;
    }
    .selling-activity-right .icon {
        float: left;
        width: 20%;
        margin-left: 30%;
    }
    .selling-activity-left .icon img,
    .selling-activity-right .icon img {
        float: left;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .selling-activity-left .selling-desc,
    .selling-activity-right .selling-desc {
        float: left;
        width: 50% !important;
        margin-left: 0 !important;
    }
    /* Page Style Topict Personal Selling  End*/
    /* Page Style Account */
    #section1-account .myprofile-bottom .btn-warning:link {
        background-color: rgb(16, 30, 72);
        border: 1px solid rgb(16, 30, 72);
        font-weight: bold;
        color: #fff;
        font-size: 14px;
    }
    #section1-account .myprofile-bottom .btn-warning:visited {
        background-color: rgb(16, 30, 72);
        border: 1px solid rgb(16, 30, 72);
        font-weight: bold;
        color: #fff
    }
    #section1-account .myprofile-bottom .btn-warning:hover {
        background-color: rgb(16, 30, 72);
        border: 1px solid rgb(16, 30, 72);
        font-weight: bold;
        color: #fff;
        font-size: 14px;
    }
    #section1-account .myprofile-bottom .btn-warning:active {
        background-color: rgb(16, 30, 72);
        border: 1px solid rgb(16, 30, 72);
        font-weight: bold;
        color: #fff;
        font-size: 14px;
    }
    #section1-account .myprofile-bottom .btn-warning:focus {
        background-color: rgb(16, 30, 72);
        border: 1px solid rgb(16, 30, 72);
        font-weight: bold;
        color: #fff;
        font-size: 14px;
    }
    #section1-account {
        width: 100%;
        margin-bottom: 20%;
        min-height: 0;
    }
    #section1-account .myprofile-picture {
        width: 100%;
    }
    #section1-account .myprofile-picture img {
        max-width: 90%;
        margin: 5%;
    }
    #section1-account .myprofile-camera img {
        margin-top: -10%;
        width: 20%;
        margin-left: 75%;
        border: 1px solid rgb(16, 30, 72);
    }
    #section1-account .myprofile-camera {
        width: 100%;
        margin-top: -30%;
    }
    #section1-account .myprofile-bottom {
        width: 100%;
        margin-top: 2rem;
    }
    #section1-account .myprofile-bottom .btn-warning {
        width: 100%;
        border-radius: .5rem;
        text-align: left;
        background-color: rgb(221, 219, 219);
        border: 1px solid rgb(221, 219, 219);
        color: rgb(16, 30, 72);
        font-weight: normal;
        padding-left: 1rem;
        margin-left: 0;
    }
    /* Page Style My Profile  Start*/
    #section1-account .label-title h4 {
        font-size: 20px;
        font-weight: bold;
    }
    #section1-account .label-detail h5 {
        font-size: 18px;
    }
    #section1-account .label-detail p {
        font-size: 15px;
        color: rgb(16, 30, 72);
    }
    #edit-profile-page .label-bottom {
        width: 0;
        float: left;
    }
    #section1-account .btn-warning {
        border-radius: 1.2rem;
        font-weight: bold;
        width: 150px;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        font-size: 14px;
    }
    #section1-account .button-change-password {
        border-radius: 1.2rem;
        font-weight: bold;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        float: right;
        margin-top: 1rem;
        font-size: .9em;
        width: 200px;
    }
    #section1-account .box-account {
        margin: 5%;
        width: 90%;
    }
    /* Page Style My Profile  End*/
    /* Page Style My Course Start*/
    #mycourse-page .label-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
        color: rgb(16, 30, 72);
        width: 100%;
    }
    #section1-myCourse .label-title {
        width: 100%;
        float: left;
    }
    #section1-myCourse .label-title h4 {
        float: left;
        margin-right: 2rem;
        font-size: 18px;
    }
    #section1-myCourse .label-title p {
        color: rgb(16, 30, 72);
        font-size: 17px;
    }
    #mycourse-page .card-deck {
        width: 50%;
        float: left;
        min-height: 500px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #section1-myCourse .card {
        min-height: 470px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
    #mycourse-page .card-body h3 {
        font-size: 16px;
    }
    #mycourse-page .card-body p {
        font-size: 14px;
    }
    /* Page Style My Couse End*/
    /* Page Style Contact US Start*/
    #section2-myoffice .label-myoffice {
        margin-top: 5rem;
    }
    #section2-myoffice .label-myoffice h2 {
        color: rgb(16, 30, 72);
        margin-left: 13%;
        font-size: 18px;
    }
    #section2-myoffice .address img {
        float: left;
        width: 10%;
        margin-top: 4px;
    }
    #section2-myoffice .address p {
        float: left;
        width: 80%;
        font-size: 13px;
        margin-left: .5rem;
        color: rgb(16, 30, 72);
    }
    #section2-myoffice .telepon {
        float: left;
        width: 100%;
        margin-top: 1rem;
    }
    #section2-myoffice .telepon img {
        float: left;
        width: 10%;
    }
    #section2-myoffice .telepon p {
        float: left;
        width: 80%;
        font-size: 13px;
        margin-left: .5rem;
        color: rgb(16, 30, 72);
    }
    /* Page Style Contact US End*/
    /* Page Style About US Start*/
    #section2-about-us .box-about-us {
        margin-top: 2rem;
        margin-bottom: 23rem;
    }
    #section2-about-us .box-about-us h4 {
        color: rgb(16, 30, 72);
        font-weight: bold;
        font-size: 18px;
    }
    #section2-about-us .box-about-us h5 {
        color: rgb(16, 30, 72);
        font-weight: bold;
        font-size: 16px;
    }
    #section2-about-us .box-about-us p {
        color: rgb(16, 30, 72);
        font-size: 14px;
    }
    /* Page Style About US End*/
    /* Page Style FAQ Start*/
    #section1-faq .box-faq h4 {
        color: rgb(16, 30, 72);
        margin-top: 1.5rem;
        font-size: 18px;
    }
    #section1-faq .box-faq p {
        color: rgb(16, 30, 72);
        font-size: 15px;
    }
    /* Page Style FAQ End*/
    /* Page Style InstructorDetail Start*/
    #section1-instructor-detail .profile-picture {
        min-height: 300px;
    }
    #section1-instructor-detail .profile-picture img {
        min-height: 300px;
    }
    #section1-instructor-detail .instuctor-detail-title h2 {
        font-weight: bold;
        text-align: left;
        font-size: 18px;
    }
    #section1-instructor-detail h3 {
        font-weight: bold;
        text-align: center;
        margin: 1.5rem;
        font-size: 24px;
    }
    .box-instructor-detail .instuctor-detail-title p {
        font-weight: bold;
        text-align: left;
        font-size: 13px;
    }
    .box-instructor-detail h5 {
        font-weight: bold;
        font-size: 16px;
    }
    .box-instructor-detail .instctor-detail-profile p {
        font-size: 15px;
    }
    /* Page Style InstructorDetail End*/
    /* Page Style Omni Learning and E-Learning Start*/
    .box-benefit {
        width: 100%;
    }
    .sliderInstructors {
        float: left;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    .sliderCourses {
        margin-left: 0;
    }
    .box-omni-detail .sliderCourses {
        width: 100%;
        margin: 0;
    }
    #section3-omni-learning h2,
    #section3-e-learning h2 {
        padding: 0;
    }
    .sliderCourses .card-deck {
        flex-flow: row wrap;
        width: 50%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3%;
    }
    #section2-omni-learning .box-benefit-content,
    #section2-e-learning .box-benefit-content {
        width: 30%;
        padding: 5px;
        margin: 1%;
        min-height: 250px;
        max-height: 300px;
    }
    #section2-omni-learning .box-benefit-content h6,
    #section2-e-learning .box-benefit-content h6 {
        font-weight: bold;
        font-size: 13px;
    }
    #section2-omni-learning .box-benefit-content p,
    #section2-e-learning .box-benefit-content p {
        font-size: 12px;
    }
    #section3-omni-learning .card,
    #section3-e-learning .card {
        min-height: 450px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    #section3-omni-learning h3,
    #section3-e-learning h3 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
    }
    #section3-omni-learning h5,
    #section3-e-learning h5 {
        font-size: 17px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .box-pembelajaranku-category {
        width: 102%;
        margin: 0 0 0 -1%;
    }
    .pembelajaranku-category {
        width: 33.333%;
        padding: 8px;
    }
    .box-pembelajaranku-category h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .box-pembelajaranku .box-method-container {
        margin: 50px 0 100px;
    }
    /* Page Style Omni Learning End*/
    /* Page Style My Transaction Start*/
    #mytransaction-page .box-button {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        float: left;
    }
    #mytransaction-page .box-button .btn-print {
        width: 45%;
        text-align: center;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-weight: bold;
        border-radius: 10px;
        float: left;
        font-size: 13px;
        margin: 5px;
    }
    #mytransaction-page .box-transaction {
        width: 100%;
        float: left;
    }
    #mytransaction-page .box-list-transaction {
        width: 100%;
        min-height: 160px;
        border: 2px solid #000;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #mytransaction-page .box-list-date {
        float: left;
        width: 30%;
        padding: 5px;
    }
    #mytransaction-page .box-list-content {
        float: left;
        width: 70%;
    }
    #mytransaction-page .box-list-content p {
        margin-top: 10px;
        line-height: 2;
        font-size: 14px;
    }
    #mytransaction-page .box-list-date .list-date {
        font-weight: bold;
        font-size: 12px;
        margin-top: -1rem;
        margin-left: 0;
    }
    #mytransaction-page .box-list-date .btn-print {
        width: 130px;
        text-align: center;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-weight: bold;
        border-radius: 10px;
        margin-left: 0;
        font-size: 12px;
        margin-top: 30%;
    }
    /* Page Style My Transaction End*/
    /* Page Style Thank You Page Start */
    #section1-thank-you img {
        width: 40%;
        margin-top: 5%;
        margin-left: 30%;
    }
    .box-thank-content .label-title {
        text-align: center;
        font-size: 16px;
    }
    .box-thank-content p {
        text-align: center;
        line-height: 2.5;
        font-size: 15px;
    }
    /* Page Style Thank You Page End */
    /* Page Style E-pass Page Start */
    .box-epass-list .box-content-name h2 {
        font-weight: bold;
        font-size: 20px;
    }
    .box-epass-list .box-content-name p {
        font-size: 15px;
    }
    .box-epass-list .box-description h5 {
        font-weight: bold;
        font-size: 13px;
    }
    .box-epass-list .box-description p {
        font-size: 12px;
    }
    /* Page Style E-pass Page End */
    /* Page Style My Certificate Start */
    #mycertificate-page .box-certificate {
        width: 90%;
        float: left;
        background-color: rgb(16, 30, 72);
        color: #fff;
        margin: 5%;
    }
    #mycertificate-page .box-certificate h3 {
        text-align: center;
        margin-top: 3%;
        font-weight: bold;
        font-size: 16px;
    }
    #mycertificate-page .box-certificate h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 3%;
        font-size: 25px;
    }
    #mycertificate-page .box-certificate p {
        text-align: center;
        font-size: 13px;
        color: #fff;
    }
    #mycertificate-page .box-certificate h6 {
        text-align: center;
        margin-top: 3%;
        font-size: 14px;
    }
    #mycertificate-page .btn-view-certificate {
        font-weight: bold;
        border-radius: 1rem;
        text-align: center;
        background-color: #EFAF0C;
        margin-left: 37%;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 14px;
    }
    .label-btn-certificate {
        width: 100%;
        float: left;
        margin-left: 0;
    }
    /* Page Style My Certificate End */
    /* Page Style Change Password Start */
    #section1-mytransaction .box-account {
        width: 90%;
        margin: 5%;
    }
    /* Page Style Change Password End */
    /* Page Style Our Plans Start */
    #section1-our-plan {
        float: left;
        width: 100%;
    }
    .box-title-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .box-title-container h2 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    .box-title-container p {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .box-title-container ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 0;
        margin-left: 5%;
        width: 90%;
        margin-right: 5%;
    }
    .box-title-container ul li {
        display: inline-block;
        width: 30%;
    }
    .box-title-container ul li .btn-warning {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #EFEFEF;
        border-color: #EFEFEF;
        font-size: 14px;
    }
    .box-title-container ul li .btn-warning:focus {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:active {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-our-plan-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-our-plan-container .our-plan-plan {
        float: left;
        width: 250px;
        height: 250px;
    }
    .plan-body {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(16, 30, 72);
        color: #fff;
        border-radius: 1rem;
        height: 250px;
        padding-top: 10%;
        position: relative;
    }
    .box-criteria {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-criteria .criteria-number {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-number h2 {
        float: left;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .box-criteria .criteria-info {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-info p {
        float: left;
        width: 100%;
        text-align: left;
        font-size: 15px;
    }
    .box-amount {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-amount .amount-price {
        float: left;
        width: 100%;
    }
    .box-amount .amount-price h1 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    .box-amount .amount-price sub {
        font-size: 12px;
    }
    .plan-body .box-description {
        float: left;
        width: 90%;
        margin: 5%;
        text-align: center;
    }
    .plan-body .box-description p {
        float: left;
        width: 90%;
        margin: 5%;
        font-size: 14px;
    }
    .plan-body .box-checkout {
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .plan-body .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-weight: bold;
        font-size: 14px;
    }
    /* Page Style Our Plans End */
    /* Page Learning Page Search All Start */
    #learning-page-all {
        float: left;
        width: 100%;
        margin-bottom: 3rem;
    }
    #learning-page-all .box-banner {
        float: left;
        width: 100%;
    }
    #learning-page-all .box-banner img {
        float: left;
        width: 100%;
    }
    .container-search {
        width: 35%;
        padding: 10px;
    }
    .box-table {
        display: table;
        width: 100%;
        border: 2px solid rgb(16, 30, 72);
    }
    .box-object-search {
        float: left;
        width: 100%;
    }
    .box-object-search .form-control:focus {
        box-shadow: 0 0 0 0.5px rgb(16, 30, 72);
    }
    .box-object-search .form-control {
        border: 1px solid rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary.focus,
    .box-object-search .btn-outline-secondary:focus {
        box-shadow: 0 0 0 0.5px #101e48;
    }
    .box-object-search .btn-outline-secondary:hover {
        color: #fff;
        background-color: rgb(16, 30, 72);
        border-color: rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary:focus {
        color: #fff;
        background-color: rgb(16, 30, 72);
        border-color: rgb(16, 30, 72);
    }
    .box-object-search .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .box-object-search .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .box-object-search .show>.btn-outline-secondary.dropdown-toggle {
        color: #fff;
        background-color: rgb(16, 30, 72);
        border-color: rgb(16, 30, 72);
    }
    .option-menu {
        background-color: rgb(16, 30, 72);
        color: #fff;
        list-style: none;
        font-size: 16px;
        padding: 5px;
        padding-left: 20px;
    }
    .box-object-search ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 0;
        margin-left: 0;
    }
    .box-object-search ul li {
        list-style: none;
    }
    .box-object-search ul li a {
        width: 90%;
        padding: 5px;
        display: block;
        font-size: 16px;
        margin-left: 10%;
    }
    .container-result {
        width: 65%;
    }
    .box-container-result .box-card {
        float: left;
        width: 50%;
        padding: 10px;
    }
    .box-card .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        height: 400px;
    }
    .box-container-result {
        width: 101.7%;
    }
    /* Page Learning Page Search All End */
    /* ===========Style new homepage start============== */
    .new-container-inner {
        width: 100%;
        max-width: 768px;
        min-width: 768px;
        padding: 0 10px;
    }
    .box-header-table {
        height: 70px;
    }
    .new-header .box-logo {
        width: 35%;
        padding: 19px 0;
    }
    .new-header .box-icon {
        padding: 19px 10px;
    }
    .new-header .box-user-info img {
        margin: 0;
    }
    .new-header .box-cart {
        padding: 0px 24px 0 14px;
    }
    .box-cart .box-cart-count {
        top: 13px;
        right: 16px;
        width: 17px;
        height: 17px;
    }
    .box-cart .box-cart-count p {
        font-size: 1.1vmax;
    }
    /* ================================ */
    .box-method-container {
        padding: 40px 40px 60px 40px;
    }
    .box-method-title {
        padding: 0;
        width: 100%;
        min-height: 120px;
    }
    .flash-sale .box-method-title {
        margin: 0 0 15px 0;
    }
    .box-method-list {
        width: 100%;
    }
    .box-method-list .box-btn-group {
        position: relative;
    }
    .title-table {
        width: 100%;
        height: auto;
    }
    .box-title-desc {
        padding: 45px 0 0 0;
    }
    .box-title-desc .flash-sale {
        width: auto;
    }
    #section3-omni-learning .box-omni-detail {
        padding: 0 18px;
    }
    .title-table-inner {
        display: flex;
    }
    .flash-sale .title-table-inner {
        justify-content: center;
    }
    .box-title-img {
        position: relative;
        width: 25%;
    }
    .flash-sale .box-title-img {
        width: 20%;
    }
    .flash-sale .box-title-desc {
        width: auto;
    }
    .box-title-img img {
        width: 100px;
        height: 100px;
    }
    .box-title-img h3 {
        position: absolute;
        top: 0;
        right: -100%;
        margin: 0 0 20px;
        font-size: 2vmax;
        white-space: nowrap;
    }
    .flash-sale .box-title-img h3 {
        white-space: nowrap;
    }
    .box-title-desc p {
        font-size: 1.4vmax;
    }
    .card-desc-title {
        font-size: 16px;
    }
    .box-omni-detail .list-card-img img {
        height: 185px;
    }
    .box-omni-detail .list-card-inner {
        height: 470px;
    }
    .list-card-img img {
        height: 246px;
    }
    .list-card {
        width: 50%;
        padding: 7.5px;
    }
    .list-card-inner {
        height: 540px;
    }
    .box-btn-group {
        margin: 0 0 15px 0;
    }
    .box-certification-container .nextArrowBtn,
    .box-certification-container .prevArrowBtn,
    .box-topic-container .nextArrowBtn,
    .box-topic-container .prevArrowBtn {
        top: unset;
        bottom: -44px;
    }
    .box-certification-container .prevArrowBtn,
    .box-topic-container .prevArrowBtn {
        right: 50px;
        padding: 4px 10px;
    }
    .box-certification-container .nextArrowBtn,
    .box-topic-container .nextArrowBtn {
        right: 7px;
        padding: 4px 10px;
    }
    .box-certification-container .nextArrowBtn img,
    .box-topic-container .nextArrowBtn img {
        width: 10px;
        height: 10px;
    }
    .box-certification-container .prevArrowBtn img,
    .box-topic-container .prevArrowBtn img {
        width: 10px;
        height: 10px;
    }
    .box-btn .btn-warning {
        font-size: 1.3vmax;
    }
    .courses .box-btn .btn-warning {
        font-size: 15px;
    }
    .box-point-container-image {
        margin: 0;
    }
    .method-list-card {
        width: 102.6%;
    }
    .box-certification-container .method-list-card,
    .box-topic-container .method-list-card {
        margin: 0 0 0 -1.3%;
    }
    /* ===========Style new homepage end============== */
    .box-nav-cart {
        width: 748px;
        padding: 13px;
    }
    .box-rating {
        width: 70%;
    }
    .box-related-product .method-list-card {
        width: 100%;
        margin: 0;
    }
    .box-related-product .card-desc-title {
        font-size: 18px;
        line-height: 27px;
        height: auto;
    }
    .box-related-product .list-card-img img {
        height: 150px;
    }
    .box-related-product .list-card-inner {
        height: 450px;
    }
    .box-cart-action {
        width: 53%;
    }
    .slide-rp .nextArrowBtn,
    .slide-rp .prevArrowBtn {
        top: unset;
        bottom: -40px;
    }
    .modal-video-view .modal-dialog {
        max-width: 768px;
    }
    /* style shopping cart start */
    .box-shopping-list {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .shoping-cart-list {
        width: 100%;
        margin: 0;
    }
    .shoping-cart-summary {
        max-width: 385px;
        margin: 20px 0 0 0;
    }
    .shoping-cart-list ol,
    .shoping-cart-list ul,
    .shoping-cart-list dl {
        width: 100%;
        margin: 0;
    }
    .box-value-category {
        width: 30%;
    }
    .box-value-qty {
        width: 35%;
    }
    .box-value-add {
        width: 60%;
        justify-content: flex-start;
    }
    /* style shopping cart end */
    .list-assign-ticket {
        flex-wrap: wrap-reverse;
    }
    .assign-ticket-image {
        max-width: 100%;
        width: 100%;
        margin: 0 0 15px 0;
    }
    .assign-ticket-description {
        width: 100%;
    }
    .box-add-info,
    .add-info {
        width: 97%;
    }
    .add-info .info-desc p,
    .add-info .info-see a {
        font-size: 12px;
    }
    .box-training-details h4 {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0 0 0 10px;
    }
    .checkout-cart .shoping-cart-summary {
        max-height: 280px;
    }
    .box-cart-description p,
    .box-cart-description h5 {
        margin: 0 0 5px;
    }
    .box-link-more {
        display: none;
    }
    .box-link-more.mobile {
        display: block;
    }
    .back-history {
        top: 56px;
    }
    .training-banner-image img,
    .training-banner-thumbnail img {
        height: 145px;
    }
}