/*
    DEMO STYLE
*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 290px;
    position: fixed;
    top: 0;
    left: -290px;
    height: 100vh;
    background: rgb(16, 30, 72);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    cursor: pointer;
    width: 43px;
    height: 43px;
    background: #1E2E5E;
    border-color: #1E2E5E;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay,
.overlay-header {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active,
.overlay-header.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 24px;
}

#sidebar .sidebar-header-login {
    padding: 20px;
    background: rgb(16, 30, 72);
    min-height: 200px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    width: 100%;
    display: block;
    padding: 10px 0;
    font-family: "poppins-regular";
    font-size: 18px;
    line-height: 27px;
}

#sidebar ul li a:hover {
    color: #fff;
    background: transparent;
    font-weight: 600;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    background: rgb(16, 30, 72);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */