html {
    position: relative;
}

body {
    font-family: poppins-Regular;
    background: #ffffff;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px !important;
    color: rgb(16, 30, 72) !important;
}


/* Style Select Boxes Start */

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select-noa {
    float: left;
    width: 100%;
    height: 40px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    color: #fff;
}

.select-styled-noa {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: transparent !important;
}

.select-styled-noa:hover {
    color: #565656;
    background-color: transparent;
}

.select-styled-noa:active {
    color: #565656;
    background-color: transparent;
}

.select-options-noa {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    color: #565656;
    border-radius: 5px;
    height: 111px;
    overflow: overlay;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.select-options-noa li {
    margin: 0;
    padding: 8px 0;
    text-indent: 15px;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    color: #333333;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    white-space: nowrap;
}

.select-options-noa li:hover {
    font-family: Poppins-Regular;
    font-weight: 700;
    color: #fff;
    background: #101E48;
}

.select-options-noa li[rel="hide"] {
    display: none;
}

.select-styled-noa::before {
    content: url(../icons/pointer-down.svg);
    position: absolute;
    top: 8%;
    right: 0px;
    -webkit-transform: scale(0.95) translateY(-50%);
    transform: scale(0.95) translateY(-50%);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.select-styled-noa.active::before {
    top: 8%;
    -webkit-transform: scale(0.95) translateY(-50%) rotate(180deg);
    transform: scale(0.95) translateY(-50%) rotate(180deg);
}


/* Style Select Boxes End */


/* Page Style Login  Start*/

.login-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 750px;
    height: 100vh;
    padding: 50px;
}

.box-login-center {
    display: table;
}

.box-login-middle {
    display: table-cell;
    vertical-align: middle;
    height: 90vh;
}

.box-login-container {
    position: relative;
    width: 1000px;
    height: 600px;
}

.box-login {
    width: 1000px;
    height: 450px;
    background-color: rgb(16, 30, 72);
    position: absolute;
    top: 75px;
}

.box-login-form {
    color: rgb(16, 30, 72);
    background-color: #ffffff;
    width: 450px;
    height: 600px;
    padding: 3%;
    position: absolute;
    right: 10rem;
}

.box-login .box-link-register {
    float: left;
    width: 30%;
    height: 80%;
    padding: 3%;
}

.box-link-register h2 {
    font-size: 1.8em;
}

.box-link-register #button-register {
    width: 60%;
    border-radius: 1rem;
    font-weight: bold;
    margin-top: 70%;
    font-size: 16px;
}

.box-login h2 {
    font-weight: normal;
    font-size: 26px;
    color: #fff;
}

.box-title-Register {
    float: left;
    margin-top: 2rem;
    margin-left: 2rem;
}

#bottom-register {
    margin-top: 3rem;
}

#bottom-register .btn-outline-warning {
    font-weight: bold;
    color: #ffffff;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.box-login-form img {
    width: 50%;
}

.box-content-login {
    float: left;
    width: 100%;
}

.box-content-login input[type=email],
input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(16, 30, 72);
    border-radius: 0px;
}

.box-content-login h3 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 26px;
}

#bottom-login {
    margin-top: 5rem;
}

.box-content-login .btn-warning {
    font-weight: bold;
    color: rgb(16, 30, 72);
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 16px;
}

.register-label .custom-checkbox {
    float: left;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 14px;
}

.register-label .label-forgot {
    text-align: right;
    font-size: 14px;
}

.register-label .label-forgot a {
    text-decoration: underline;
    color: rgb(16, 30, 72);
}


/* Page Style Login  End*/


/* Page Style Register  Start*/

.box-register {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 750px;
    height: 100vh;
    padding: 50px;
}

.register-flex {
    display: flex;
    justify-content: center;
}

.box-register-center {
    display: table;
}

.box-register-middle {
    display: table-cell;
    vertical-align: middle;
    height: 90vh;
    min-height: 750px;
}


/* Pre Register Start */

.box-pre-register-middle {
    display: table-cell;
    vertical-align: middle;
    height: 90vh;
    min-height: 750px;
}

.box-pre-regiter,
.pre-register-container {
    width: 550px;
}

.pre-register-container {
    background-color: #fff;
    padding: 50px;
}

.box-pre-regiter {
    margin-bottom: 3rem;
}

.pre-register-img {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* Pre Regiter End */

.box-register-container {
    position: relative;
    float: left;
    width: 550px;
    background-color: #fff;
    padding: 50px;
}

.box-register h3 {
    float: left;
    width: 100%;
    font-family: poppins-medium;
    font-size: 25px;
}

.box-register .account {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.box-register-form {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.box-content-register {
    float: left;
    width: 100%;
    position: relative;
}

.form-register {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-register-form .form-group {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

.form-register .btn-register {
    line-height: 1.5;
    border-radius: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: montserrat-bold;
    font-size: 16px;
}

.box-content-register .form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.box-content-register .firstName {
    width: 48%;
    margin-right: 4%;
    float: left;
}

.box-content-register .scondName {
    width: 48%;
}

.box-register-form .custom-checkbox {
    margin-top: 2rem;
    font-size: 14px;
}

.box-login #bottom-register {
    margin-top: 90%;
}

#bottom-register .btn-warning {
    font-weight: bold;
    color: rgb(16, 30, 72);
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.box-content-register hr {
    border-bottom: 2px solid rgb(16, 30, 72);
}

.box-content-register h3 {
    text-align: center;
    font-size: 15px;
}

.form-back {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.form-back .link-text {
    color: blue;
    text-decoration: underline;
}

#login-to-home,
#register-to-home {
    border-radius: 1rem;
    font-size: 12px;
}


/* Page Style Register  End*/


/* Page style forgot Confirmasi Start */

.box-forgot-confirm {
    position: relative;
    background-color: #ffffff;
    width: 600px;
    min-height: 600px;
    padding: 1%;
    box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
}

.box-content-forgot .control-label {
    padding-left: 0;
}


/* Page style forgot Confirmasi End */


/* Page Style Forgot Password  Start*/

.box-forgot-password {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 750px;
    height: 100vh;
    padding: 50px;
}

.box-forgot-center {
    display: table;
}

.box-forgot-middle {
    display: table-cell;
    vertical-align: middle;
    height: 90vh;
    min-height: 750px;
}

.box-forgot {
    position: relative;
    background-color: #ffffff;
    width: 600px;
    min-height: 600px;
    padding: 14px;
    box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
}

.box-register-image {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-register-image img {
    width: 200px;
}

.box-forgot h3,
.box-forgot-confirm h3 {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
}

.box-forgot p,
.box-forgot-confirm p {
    float: left;
    width: 100%;
    text-align: center;
}

.box-forgot-form {
    float: left;
    width: 100%;
    padding: 0 20%;
}

.box-forgot #register-to-home {
    border-radius: 1rem;
    font-size: 12px;
}

.box-content-forgot .form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 2px solid #000;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
}

#bottom-forgot .btn-warning {
    font-weight: bold;
    color: rgb(16, 30, 72);
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
    font-size: 16px;
}

#content {
    float: left;
    width: 100%;
    min-height: 72vh;
    transition: all 0.3s;
    right: 0;
    margin-top: 169px;
    overflow-x: hidden;
}

.public-title-menu {
    float: left;
    width: 100%;
    display: contents;
}

.public-title-menu h3 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-top: .1rem;
    color: #ffc107;
}

.section-header {
    display: table;
    position: fixed;
    top: 0;
    color: #ffffff;
    background-color: #101E48;
    width: 100%;
    z-index: 999;
    height: 110px;
}

.box-header-container {
    display: table-cell;
    vertical-align: middle;
}

.box-header {
    width: 100%;
    float: left;
    padding-top: 1rem;
}

.section-header .box-togleM {
    padding: 16px 18px;
}

.box-icon-collapse {
    float: left;
    width: 100%;
}

.section-header .box-togleM p {
    color: #fff;
    float: left;
    margin-top: .5rem;
    font-size: 16px;
    width: 60px;
    padding-left: 1rem;
}

.section-header .box-logoM {
    float: left;
    width: 80%;
}

.section-header #logo {
    float: left;
    width: 100%;
}

.section-header .box-logoM img {
    float: left;
    margin-left: 44%;
    width: 12%;
}

.active-mobile {
    display: none;
}

.header-search {
    position: relative;
    padding: 14px 4px 14px 18px;
    display: none;
}

.header-search .mirror-icon {
    position: absolute;
    left: 18px;
    width: 42px;
    height: 42px;
}

.header-search .mirror-icon img {
    width: 14px;
}

.header-search .form-control {
    height: 42px;
    padding: 10px 10px 10px 42px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 21px;
    border: 0px solid transparent;
    color: #333333;
}

.header-search .form-control::placeholder {
    color: #828282;
}

.header-search .btn-light,
.header-search .btn-light:hover,
.header-search .btn-light:not(:disabled):not(.disabled):active {
    background-color: #101E48;
    border-color: #101E48;
}

.header-search .btn-light.focus,
.header-search .btn-light:focus,
.header-search .btn-light:not(:disabled):not(.disabled).active:focus,
.header-search .btn-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0rem rgba(216, 217, 219, .5);
}


/* =========================== */

.box-subscribe {
    position: absolute;
    width: 40%;
    right: 5%;
    top: 0;
    height: 110px;
}

.subscribe-middle {
    margin-top: 30px;
    position: absolute;
    right: 0;
}

.subscribe-middle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subscribe-middle>ul>li {
    float: left;
}

.subscribe-middle li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px !important;
}

#register-link {
    position: absolute;
    right: 2%;
    bottom: 0;
    color: #ffc107;
    font-size: 14px;
}

#register-link a:hover {
    color: #fff;
    text-decoration: underline;
}

.subscribe-middle li a:hover {
    color: rgb(16, 30, 72);
    background-color: #fff;
    transition-duration: 0.1s;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgb(16, 30, 72);
}

.isi-dropdown a:hover {
    color: #fff !important;
}

.isi-dropdown a {
    color: #fff !important;
}

.isi-dropdown a:hover {
    color: #ffc107 !important;
    background: rgb(16, 30, 72) !important;
}

.subscribe-middle .btn-warning {
    font-weight: bold;
}

.section-header .btn-info {
    color: #fff;
    background-color: rgb(16, 30, 72);
    border-color: rgb(16, 30, 72);
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: rgb(16, 30, 72) !important;
    border-color: rgb(16, 30, 72) !important;
}

.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 0 0 .2rem rgb(16, 30, 72) !important;
}


/* Sidebar Homepage start */

.side-title {
    padding-top: 15px;
    width: 90%;
    margin-left: 5%;
}

.side-title img {
    width: 50px;
    float: left;
    margin-top: -10px;
}

.side-title h5 {
    font-weight: bold;
    font-size: 18px;
}

.chek-in {
    max-width: 190px;
    padding: 8px 0;
}

.after-login .user-icon {
    margin: 0 14px 0 0;
}

.after-login .btn-secondary,
.after-login .show>.btn-secondary.dropdown-toggle {
    background-color: #101E48;
    border-color: #101E48;
    padding: 0 20px 0 0;
}

.after-login .dropdown-item.active,
.after-login .dropdown-item:active {
    background-color: #101E48;
}

.after-login .dropdown-menu {
    min-width: auto;
    padding: 0;
}

.after-login .btn-secondary:not(:disabled):not(.disabled).active:focus,
.after-login .btn-secondary:not(:disabled):not(.disabled):active:focus,
.after-login .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, .5);
}

.after-login .dropdown-toggle::after {
    top: 1px;
    right: 0;
    content: url(../icons/icon-dropdown.svg);
    transform: scale(0.9);
    border: none;
}

.after-login .dropdown-item {
    padding: .25rem 10px;
}

.chek-in .btn-warning {
    padding: 9px 14.3px;
    height: 40px;
    border-radius: 5px;
    font-family: "poppins-regular";
    font-size: 18px;
    line-height: 18px;
    color: #101E48;
    margin: 1px 0 0;
}

.chek-in .btn-link {
    padding: 9px 14.3px;
    height: 42px;
    font-family: "poppins-regular";
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    margin: 0 14px 0 0;
}

.box-fluid-right {
    width: 10%;
    float: right;
    width: 10%;
    margin-right: 2rem;
    margin-top: 2rem;
}

.box-fluid-right .btn-warning {
    color: rgb(16, 30, 72);
}

.sidebar-header-login img {
    width: 50%;
    height: 30%;
    margin-left: 25%;
}

.sidebar-header-login .chek-in {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.sidebar-header-login .chek-in p {
    color: #ffffff;
    font-size: 16px;
}

#sidebar .box-scroll {
    float: left;
    width: 100%;
    height: 90vh;
    min-height: 500px;
    overflow-y: auto;
    padding: 20px 24px;
}

.box-scroll .list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: rgb(16, 30, 72) !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
    color: rgb(16, 30, 72) !important;
}


/* Page Style Homepage  Start*/

#section1 {
    width: 100%;
    height: auto;
    float: left;
}

#section1 img {
    width: 100%;
    height: auto;
}

#section2 .box-points {
    width: 100%;
    padding-left: 5%;
}

.points-content-number .point-number {
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    margin: 10%;
}

#section2 .box-point-container,
#section2 .box-point-image {
    float: left;
    width: 50%;
    max-width: 629px;
}

#section2 img {
    height: 642px;
}

.box-point-container-image {
    float: left;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(16, 30, 72);
    background-color: #fff;
}

.point-container-list {
    position: relative;
    width: 100%;
    height: 200px;
    display: table;
}

.point-list-table {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
}

.point-list-table h3,
.right-point-list-table h3 {
    font-size: 22px;
    line-height: 37px;
    color: #EDF1FF;
}

.left-point-number {
    float: left;
    width: 42px;
    height: 39px;
    text-align: center;
}

.left-box-point-content {
    float: left;
    position: relative;
    left: 15px;
}

.left-point-title {
    width: 210px;
    height: 39px;
    background: #415BB0;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 1rem;
}

.left-point-desc {
    top: 60px;
    width: 245px;
}

.left-point-desc p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.left-point-image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}


/* ------------ */

.right-point-list-table {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
}

.right-list {
    display: flex;
    justify-content: flex-end;
}

.right-point-number {
    float: left;
    width: 42px;
    height: 39px;
    text-align: center;
    margin-right: 15px;
}

.right-box-point-content {
    float: left;
    position: relative;
}

.right-point-title {
    width: 290px;
    height: 39px;
    background: #415BB0;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 1rem;
}

.right-point-desc {
    top: 60px;
    width: 245px;
}

.right-point-desc p {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.right-point-image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}

.box-point-image #howitworks {
    float: left;
    width: 100%;
}

#section2 .box-point-image img {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgb(16, 30, 72);
    background-color: #fff;
    cursor: pointer;
}

.box-points .box-points-content {
    width: 100%;
    min-height: 130px;
    border-radius: 1rem;
    border: 3px solid #fafafa;
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.box-points .box-points-content:hover {
    border: 3px solid rgb(10, 10, 10);
    border-radius: 1rem;
    min-height: 130px;
}

.points-content-number {
    border-style: solid;
    border-color: rgb(10, 10, 10);
    float: left;
    width: 50px;
    border-radius: 6rem;
    text-align: center;
    height: 50px;
    position: absolute;
}

.points-content-body {
    width: 90%;
    float: left;
    padding-left: 60px;
}

#section2 h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 3%;
    width: 90%;
    margin-top: 2%;
}

#section2 {
    float: left;
    width: 100%;
    margin: 70px 0;
}

.box-points .media img {
    width: 10%;
}

#section3 {
    width: 100%;
    height: auto;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#section3 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#section3 .box-learning {
    width: 100%;
    float: left;
}

.box-learning .box-learning-content {
    float: left;
    width: 33%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}


/*product-list-hover-effect*/

.product-list-fade-effect {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 3px 0 rgb(16, 30, 72);
    background-color: #fff;
}

.product-list-fade-effect img {
    transition-duration: 0.4s;
}

.product-list-fade-effect .product-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(185, 186, 192, 0.8);
    color: #fff;
    top: 0%;
    left: 0%;
    opacity: 0;
    transition-duration: 0.4s;
}

.product-overlay p {
    color: #fff;
}

.product-list-fade-effect .product-overlay h3 {
    margin: 0 0 12px 0;
}

.product-list-fade-effect:hover .product-overlay {
    opacity: 1;
}

.product-overlay .product-list-fade-effect:hover img {
    transform: scale(1.1);
}

.product-overlay h5 {
    margin-top: 30%;
    font-size: 20px;
}

.product-overlay p {
    font-size: 15px;
    text-align: center;
}

.product-overlay .btn-outline-secondary {
    border-radius: 1rem;
    font-weight: bold;
    border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: #fff;
    margin-top: 2%;
    width: 30%;
    margin-left: 35%;
    font-size: 18px;
}

#section3 .btn-outline-secondary:hover {
    background-color: #EFAF0C;
    font-weight: bold;
}

#section3 .btn-outline-:active {
    background-color: #EFAF0C;
    font-weight: bold;
}

#section3 .btn-outline-:focus {
    background-color: #EFAF0C;
    font-weight: bold;
}

.product-overlay img {
    margin-top: 7%;
    width: 30%;
    margin-left: 35%;
}


/*product-list-hover-effect*/

#section3 h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
}

#section3 h4 {
    font-size: 20px;
    text-align: center;
}

#section3 .col-sm-4 {
    margin-left: 1rem;
}

#section4 {
    width: 100%;
    height: auto;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#section4 .box-course {
    width: 90%;
    float: left;
    margin-left: 5%;
}

.box-course .box-course-content-bottom {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.box-course .box-course-content {
    float: left;
    width: 100%;
    padding-top: 2rem;
}

#section4 h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

#section4 h3 {
    font-size: 20px;
    margin-bottom: 1rem;
}

#section4 h5 {
    float: left;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

#section4 .text-center {
    margin-bottom: 1rem;
}

#section4 .card-promo {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

#section4 .box-course-content .card-promo {
    min-height: 330px;
}

#section4 .card-body .card-title-grey {
    font-weight: 100;
    color: #757575;
}

#section4 .btn-back-checkout {
    font-size: 15px;
    width: 110px;
    color: #575757;
    border-color: #e5e5e5
}

#section4 .text-promo {
    border-color: #d5d5d5;
    padding: 20px;
    font-size: 15px;
}

#section4 .border-red {
    border-color: #ff3434;
}

#section4 .text-promo-grey {
    font-size: 14px;
    color: #757575;
    margin-top: -10px;
    font-weight: 400;
}

#section4 .text-promo-alert {
    font-size: 14px;
    color: #ff3434;
    margin-top: -10px;
}

#section4 .btn-outline-secondary {
    width: 150px;
    min-height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 1rem;
    border: none;
    background-color: rgb(247, 244, 244);
    color: #000;
}

#section4 .btn-promo-secondary {
    font-family: arial;
    color: #ffffff;
    border-color: #6c757d;
    background-color: #101e48;
    font-size: 15px;
}

#section4 .btn-promo-secondary:hover {
    background-color: #284966;
}

#section4 .btn-promo-pay {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f8bc09;
    border-color: #f8bc09;
    color: #000000;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

#section4 .btn-promo-pay:hover {
    background-color: #d9b23c;
    border-color: #d9b23c;
}

#section4 .btn-outline-secondary:hover {
    background-color: #EFAF0C;
    font-weight: bold;
}

#section4 .btn-outline-secondary:active {
    background-color: #EFAF0C;
    font-weight: bold;
}

#section4 .btn-outline-secondary:focus {
    background-color: #EFAF0C;
    font-weight: bold;
    box-shadow: 0 0 0 0.2rem #EFAF0C;
}

#section4 p {
    font-size: 16px;
}

#section4 .card {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 600px;
}

#section5 {
    float: left;
    width: 100%;
    margin: 80px 0;
}

.instructor-hidden {
    position: absolute;
    width: 90%;
    left: 5%;
}

.instructor-comming {
    width: 100%;
    height: 700px;
    background-color: #101e48;
    opacity: 0.9;
    display: table;
}

.comming-table {
    display: table-cell;
    vertical-align: middle;
}

.comming-table h2,
.comming-table p {
    margin-bottom: 10px !important;
    color: #fff;
}

#section5 .box-instructor {
    width: 100%;
    float: left;
}

.box-instructor .box-instructor-content-bottom {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-instructor .box-instructor-content {
    float: left;
    width: 90%;
    margin-left: 5%;
    padding-top: 2rem;
}

#section5 h2 {
    font-size: 30px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

#section5 h3 {
    font-size: 20px;
    margin-bottom: 1rem;
}

#section5 h5 {
    float: left;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

#section5 .btn-outline-secondary {
    width: 150px;
    min-height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    font-size: 15px;
    border-radius: 1rem;
    border: none;
    background-color: rgb(247, 244, 244);
}

#section5 .btn-outline-secondary:hover {
    background-color: #EFAF0C;
    font-weight: bold;
}

#section5 .btn-outline-secondary:active {
    background-color: #EFAF0C;
    font-weight: bold;
}

#section5 .btn-outline-secondary:focus {
    background-color: #EFAF0C;
    font-weight: bold;
    box-shadow: 0 0 0 0.2rem #EFAF0C;
}

.title-instructor {
    font-weight: bold;
}

#section5 p {
    font-size: 16px;
}

#section5 .card-deck {
    width: 30%;
    display: inline-block;
    padding: 1%;
}

#section5 .card {
    height: 600px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


/* footer */

#footer {
    float: left;
    width: 100%;
    color: #fff;
    background-color: rgb(16, 30, 72);
    overflow: hidden;
}

.box-middle-object {
    position: relative;
    width: 100%;
    height: 100px;
}

#footer .box-image-info {
    float: left;
    width: 60%;
}

.box-image-info .box-info-container {
    float: left;
    width: 70%;
}

.box-image-info .box-logo {
    width: 30%;
    float: left;
    height: 100px;
    line-height: 100px;
}

.box-image-info .box-logo img {
    width: 50%;
    margin-left: 15%;
    vertical-align: middle;
}

#footer .box-info {
    float: left;
    width: 33.3%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#footer .box-info.tnc {}

#footer .box-info p {
    color: #fff;
    margin-bottom: 0;
    vertical-align: middle;
}

#footer .box-media-container {
    float: left;
    width: 50%;
}

#footer .box-media {
    float: left;
    width: 40%;
}

.box-media .media-image {
    float: left;
    width: 20%;
    height: 100px;
    line-height: 100px;
}

.box-media .media-text {
    float: left;
    width: 80%;
    height: 100px;
    line-height: 100px;
}

.box-media .media-text p {
    color: #fff;
    vertical-align: middle;
}

.box-media .media-image img {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    vertical-align: middle;
}

.box-navigation {
    width: 100%;
}

.box-navigation img {
    width: 3%;
}

.box-navigation #myBtn {
    display: none;
    position: fixed;
    bottom: 2.5rem;
    right: 6rem;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(25, 66, 170);
    color: white;
    cursor: pointer;
    padding: 0px;
}

#myBtn:hover {
    background-color: rgb(25, 66, 170);
}

.label-navigation {
    position: absolute;
    right: 4.5rem;
    top: 4.5rem;
}

.label-navigation h5 {
    float: left;
    font-size: 16px;
}


/* Page Style Homepage  End*/


/* Page Style Topict Personal Selling  Start*/

#background-topic-personal-selling {
    background-color: #fff;
    color: #000;
}

#section1-topic-selling {
    float: left;
    width: 100%;
}

#section1-topic-selling img {
    width: 100%;
}

.box-activity-selling-omni {
    width: 100%;
    float: left;
    padding-left: 2%;
}

.box-activity-selling-omni .selling-activity {
    float: left;
    width: 33.3%;
}

.selling-activity .icon {
    float: left;
    width: 50px;
    height: 50px;
}

.selling-activity .selling-desc {
    width: 70%;
    padding: 0 0 0 14px;
}

.selling-activity .selling-desc h5 {
    padding: 5px 0;
}

.box-activity-selling-elearning {
    width: 100%;
    float: left;
    padding-left: 2%;
}

.selling-activity-left {
    float: left;
    width: 50%;
}

.selling-activity-right {
    float: left;
    width: 50%;
}

.selling-activity-left .icon {
    float: left;
    width: 10%;
}

.selling-activity-right .icon {
    float: left;
    width: 10%;
    margin-left: 60%;
}

.selling-activity-left .icon img,
.selling-activity-right .icon img {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.selling-activity-left .selling-desc,
.selling-activity-right .selling-desc {
    float: left;
    width: 30% !important;
    margin-left: 0 !important;
}

#section2-decription-selling {
    float: left;
    width: 100%;
    padding-top: 2rem;
}

#section2-decription-selling h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 2%;
}

#section2-decription-selling h1 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 2%;
}

#section2-purchase-online .column-learn .btn-warning {
    margin-top: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    background-color: #EFAF0C;
    width: 25%;
    padding-left: 10px;
}

.selling-desc {
    float: left;
    width: 60%;
}

.selling-desc h5 {
    font-size: 14px;
    padding-top: .7rem;
}

#section2-decription-selling .column-description {
    float: left;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#section2-decription-selling .column-description p {
    color: #000;
    font-size: 16px;
}

#section2-decription-selling .box-payment-selling {
    float: left;
    width: 100%;
}

#section2-decription-selling .box-payment-selling h3 {
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
}

#section2-decription-selling .box-payment-selling h6 {
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
}

#section2-decription-selling .box-payment-selling h1 {
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
}

.box-payment-selling .btn-warning {
    margin-top: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    background-color: #EFAF0C;
    width: 24%;
    padding-left: 10px;
    margin-bottom: 2rem;
    float: left;
    margin-left: 38%;
}


/* Page Style Topict Personal Selling  End*/


/* Page Style My Profile  Start*/

#section1-account {
    width: 100%;
    min-height: 80vh;
}

#account-page {
    width: 100%;
}

#section1-account #edit-profile-page {
    width: 100%;
}

#section1-account .myprofile-camera {
    width: 100%;
}

#section1-account .myprofile-camera img {
    margin-top: -20%;
    width: 10%;
    margin-left: 60%;
    border: 1px solid rgb(16, 30, 72);
}

#section1-account .myprofile-picture {
    width: 100%;
    margin-top: 2rem;
}

#section1-account .myprofile-picture img {
    max-width: 40%;
    margin-left: 30%;
}

#edit-profile-page .label-bottom {
    width: 30%;
    float: left;
    padding-top: 2%;
}

#section1-account .myprofile-bottom {
    width: 100%;
}

#section1-account .myprofile-bottom .btn-warning {
    width: 60%;
    border-radius: .5rem;
    margin-top: 1rem;
    text-align: left;
    padding-left: 2rem;
    background-color: rgb(221, 219, 219);
    border: 1px solid rgb(221, 219, 219);
    color: rgb(16, 30, 72);
    margin-left: 20%;
    font-weight: normal;
}

#section1-account .myprofile-bottom .btn-warning:hover {
    background-color: rgb(16, 30, 72);
    border: 1px solid rgb(16, 30, 72);
    font-weight: bold;
    color: #fff
}

#section1-account .myprofile-bottom .btn-warning:focus {
    background-color: rgb(16, 30, 72);
    border: 1px solid rgb(16, 30, 72);
    font-weight: bold;
    color: #fff
}

#section1-account .box-account {
    margin: 5%;
    width: 30%;
    float: left;
    margin-top: 1rem;
}

.box-account .form-control {
    margin-bottom: 1rem;
}

#section1-account .label-title {
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
}

#section1-account .label-title h4 {
    font-weight: bold;
    font-size: 25px;
}

#section1-account .label-detail p {
    color: rgb(16, 30, 72);
    font-size: 16px;
}

#section1-account .button-change-password {
    border-radius: 1.2rem;
    font-weight: bold;
    background-color: #EFAF0C;
    color: rgb(16, 30, 72);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    float: right;
    margin-right: 45%;
}

#section1-account .btn-warning {
    border-radius: 1.2rem;
    font-weight: bold;
    width: 150px;
    background-color: #EFAF0C;
    color: rgb(16, 30, 72);
    text-align: center;
}


/* Page Style My Profile  End*/


/* Page Style My Couse Start*/

#mycourse-page {
    color: #000;
}

#mycourse-page .label-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: rgb(16, 30, 72);
    width: 60%;
}

#mycourse-page .label-title p {
    color: rgb(16, 30, 72);
    font-size: 15px;
}

#mycourse-page .label-title h4 {
    float: left;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 25px;
}

#mycourse-page .card-deck {
    width: 30%;
    float: left;
    margin: 3px;
}

#mycourse-page .card {
    min-height: 470px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#mycourse-page .card-body h3 {
    font-size: 17px;
}

#mycourse-page .card-body p {
    font-size: 14px;
}


/* Page Style My Couse End*/


/* Page Style Contact US Start*/

#section1-contact-us {
    width: 100%;
}

#section1-contact-us img {
    width: 100%;
}

#section1-contact-us .banner {
    width: 100%;
}

#section2-myoffice .label-myoffice {
    margin-top: 7rem;
}

#section2-myoffice .label-myoffice h2 {
    color: rgb(16, 30, 72);
    margin-left: 10%;
    font-family: montserrat-bold;
    font-size: 30px;
}

#section2-myoffice .address {
    float: left;
    width: 100%;
    margin-top: 1rem;
}

.address .box-addres-img {
    float: left;
    width: 10%;
}

.address .box-addres-img img {
    width: 90%;
    margin: 5%;
}

.address .box-address-info {
    float: left;
    width: 90%;
    padding-left: 2%;
}

.address .box-address-info p {
    float: left;
    color: rgb(16, 30, 72);
    font-size: 16px;
}

#section2-myoffice .label-map {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
}


/* Page Style Contact US End*/


/* Page Style About US Start*/

#section1-about-us {
    width: 100%;
    float: left;
}

#section2-about-us {
    width: 100%;
    float: left;
}

#section1-about-us img {
    width: 100%;
    float: left;
}

#section2-about-us .box-about-us {
    width: 100%;
    float: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#section2-about-us .box-about-us h3 {
    font-size: 25px;
}

#section2-about-us .box-about-us h4 {
    color: rgb(16, 30, 72);
    font-family: montserrat-bold;
    font-size: 28px;
}

#section2-about-us .box-about-us h5 {
    color: rgb(16, 30, 72);
    font-family: montserrat-medium;
    margin-top: 2rem;
}

#section2-about-us .box-about-us p {
    color: rgb(16, 30, 72);
    font-family: montserrat-regular;
    font-size: 16px;
}


/* Page Style About US End*/


/* Page Style FAQ Start*/

#section1-faq {
    width: 100;
    min-height: 75vh;
}

#section1-faq .box-faq {
    max-width: 60%;
    margin: 3rem;
}

#section1-faq .box-faq h4 {
    color: rgb(16, 30, 72);
    margin-top: 2rem;
    font-size: 23px;
}

#section1-faq .box-faq p {
    color: rgb(16, 30, 72);
    font-size: 15px;
}


/* Page Style FAQ End*/


/* Page Style InstructorDetail Start*/

#section1-instructor-detail {
    margin-bottom: 5rem;
}

#section1-instructor-detail .profile-picture {
    min-height: 400px;
}

#section1-instructor-detail .profile-picture img {
    min-height: 400px;
}

#section1-instructor-detail h3 {
    font-weight: bold;
    text-align: center;
    margin: 1.5rem;
    font-size: 20px;
    opacity: 0;
}

#section1-instructor-detail .instuctor-detail-title h2 {
    font-weight: bold;
    text-align: left;
    font-size: 24px;
}

.box-instructor-detail {
    margin-left: 1rem;
}

.box-instructor-detail .instuctor-detail-title p {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}

.box-instructor-detail h5 {
    font-weight: bold;
    font-size: 16px;
}

.box-instructor-detail .instctor-detail-profile {
    margin-top: 2rem;
}

.box-instructor-detail .instctor-detail-profile p {
    font-size: 15px;
}


/* Page Style Instructor-Detail End*/


/* Page Style Omni Learning Start*/

#section1-omni-learning {
    float: left;
    width: 100%;
}

#section1-omni-learning img {
    width: 100%;
    float: left;
}

#section2-omni-learning {
    width: 100%;
    float: left;
}

.box-container-learning {
    float: left;
    width: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-benefit {
    float: left;
    width: 90%;
}

#section3-omni-learning {
    width: 100%;
    float: left;
}

.sliderCourses {
    float: left;
    width: 100%;
}

.sliderCourses .card-deck {
    flex-flow: row wrap;
    width: 30%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3%;
}

#section2-omni-learning h3,
#section2-e-learning h3 {
    font-family: montserrat-bold;
    font-size: 30px;
    text-align: center;
    margin: 30px 0 15px 0;
}

#section2-omni-learning .col-benefit {
    width: 100%;
    background-image: url(../img/background-omni-learning.jpg);
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#section2-e-learning .col-benefit {
    width: 100%;
    background-image: url(../img/background-e-learning.jpg);
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#section2-omni-learning .box-benefit-content,
#section2-e-learning .box-benefit-content {
    float: left;
    width: 27%;
    margin: 3%;
    padding: 20px;
    min-height: 280px;
    max-height: 300px;
    border-radius: 0.5rem;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
}

#section2-omni-learning .box-benefit-content h6,
#section2-e-learning .box-benefit-content h6 {
    float: left;
    width: 100%;
    font-family: montserrat-bold;
    font-size: 14px;
    color: #051443;
}

.box-benefit-content img {
    float: left;
    width: 70%;
    margin: 0 15%;
}

#section2-omni-learning .box-benefit-content p,
#section2-e-learning .box-benefit-content p {
    font-size: 13px;
    float: left;
    width: 100%;
}

#section3-omni-learning h2,
#section3-e-learning h2 {
    float: left;
    width: 100%;
    font-family: montserrat-bold;
    font-size: 30px;
    text-align: center;
    padding: 0 10px;
    margin: 42px 0 19px;
}

#section3-omni-learning,
#section3-e-learning {
    margin-bottom: 3rem;
}

#section3-omni-learning .box-omni-detail {
    float: left;
    width: 100%;
    padding: 0 21px;
}

#section3-omni-learning h3,
#section3-e-learning h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

#section3-omni-learning h5,
#section3-e-learning h5 {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#section3-omni-learning .text-center,
#section3-e-learning .text-center {
    margin-bottom: 1rem;
}

#section3-omni-learning .btn-outline-secondary,
#section3-e-learning .btn-outline-secondary {
    border-radius: 10px;
    border: none;
    min-width: 100px;
    min-height: 45px;
    background-color: rgb(247, 244, 244);
    font-family: poppins-medium;
    font-size: 14px;
    color: #000;
    margin: 5px;
}

#section3-omni-learning .btn-outline-secondary:hover,
#section3-e-learning .btn-outline-secondary:hover {
    background-color: #EFAF0C;
    font-weight: 600;
}

#section3-omni-learning .btn-outline-secondary:active,
#section3-e-learning .btn-outline-secondary:active {
    background-color: #EFAF0C;
    font-weight: 600;
}

#section3-omni-learning .btn-outline-secondary:focus,
#section3-e-learning .btn-outline-secondary:focus {
    background-color: #EFAF0C;
    font-weight: 600;
}

#section3-omni-learning p,
#section3-e-learning p {
    font-size: 12px;
}

#section3-omni-learning .card,
#section3-e-learning .card {
    height: 510px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}


/* Page Style Omni Learning End*/


/* Page Style My Transaction Start*/

#mycertificate-page .label-title {
    margin-bottom: 2rem;
    font-weight: bold;
    color: rgb(16, 30, 72);
    width: 100%;
    float: left;
    margin-left: 5%;
    padding-top: 2rem;
}

#mycertificate-page .label-title p {
    color: rgb(16, 30, 72);
}

#mycertificate-page .label-title h4 {
    float: left;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 25px;
}

#mycertificate-page .myprofile-picture {
    width: 100%;
}

#mycertificate-page .myprofile-picture img {
    width: 60%;
    width: 45%;
    margin-left: 28%;
}

#mycertificate-page .myprofile-bottom {
    width: 100%;
    margin-top: 2rem;
}

#mycertificate-page .myprofile-bottom .btn-warning {
    width: 50%;
    border-radius: .5rem;
    margin-top: 1rem;
    text-align: left;
    padding-left: 2rem;
    background-color: rgb(221, 219, 219);
    border: 1px solid rgb(221, 219, 219);
    color: rgb(16, 30, 72);
    margin-left: 25%;
}

#mytransaction-page .col-box-mytransaction {
    width: 70%;
}

.box-button {
    float: left;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#mytransaction-page .box-transaction {
    width: 650px;
    float: left;
}

#mytransaction-page .box-button .btn-print {
    min-width: 40%;
    text-align: center;
    background-color: #EFAF0C;
    color: rgb(16, 30, 72);
    font-weight: bold;
    border-radius: 10px;
}

#mytransaction-page .box-list-transaction {
    width: 100%;
    min-height: 150px;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: left;
}

#mytransaction-page .box-list-date {
    float: left;
    width: 40%;
    padding: 5px;
}

#mytransaction-page .box-list-date .list-date {
    font-weight: bold;
    font-size: 13px;
    margin-top: -1rem;
    margin-left: 30%;
}

#mytransaction-page .box-list-content {
    float: left;
    width: 60%;
}

#mytransaction-page .box-list-content p {
    margin-top: 10px;
    line-height: 2;
    font-size: 16px;
}

#mytransaction-page .box-list-date .btn-print {
    width: 140px;
    text-align: center;
    background-color: #EFAF0C;
    color: rgb(16, 30, 72);
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 10%;
}


/* Page Style My Transaction End*/


/* Page Style Inbox Star */

#inbox-page .box-inbox {
    width: 80%;
    padding: 1rem;
    border: 2px solid rgb(16, 30, 72);
    min-height: 400px;
    border-radius: .5rem;
}

#inbox-page .box-list-inbox {
    width: 100%;
    border: 1px solid rgb(16, 30, 72);
    float: left;
}

.box-list-inbox .list-select {
    width: 10%;
    float: left;
}

.box-list-inbox .list-title {
    width: 30%;
    float: left;
}

.box-list-inbox .list-title p {
    font-weight: bold;
}

.box-list-inbox .list-description {
    width: 50%;
    float: left;
}

.box-list-inbox .list-action {
    width: 10%;
    float: left;
}


/* Page Style Inbox End */


/* Page Style Purchase Online Start*/

#section2-purchase-online {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#section2-purchase-online .selling-activity {
    float: left;
    width: 100%;
}

#section2-purchase-online .selling-activity .clock {
    width: 50px;
    float: left;
    margin-top: -12px;
}

#section2-purchase-online .selling-activity .students {
    margin-top: -5px;
    width: 50px;
    float: left;
}

#section2-purchase-online .selling-activity .selling-desc {
    float: left;
}

#section2-purchase-online .selling-activity .selling-desc h5 {
    font-size: 14px;
}

#section2-purchase-online h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5%;
}

#section2-purchase-online h6 {
    font-weight: bold;
    margin-top: 5%;
    font-size: 17px;
}

#section2-purchase-online h1 {
    font-weight: bold;
    font-size: 23px;
    margin-top: 2%;
}

#section2-purchase-online .column-learn .btn-warning {
    margin-top: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    background-color: #EFAF0C;
    width: 25%;
    padding-left: 10px;
}


/* Page Style Purchase Online End*/


/* Page Style Rating Start*/

#section1-rating .myprofile-picture {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#section1-rating .myprofile-picture img {
    max-width: 55%;
    margin-left: 23%;
}

#section1-rating .label-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: rgb(16, 30, 72);
    width: 60%;
}

#section1-rating .label-title h4 {
    float: left;
    margin-right: 2rem;
    font-weight: bold;
}

#section1-rating .label-title p {
    color: rgb(16, 30, 72);
}

#section1-rating .card-deck {
    width: 40%;
    margin: 3px;
}

#section1-rating .card {
    min-height: 430px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(221, 219, 219);
}

#section1-rating .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: rgb(221, 219, 219);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#section1-rating .card-body h3 {
    font-size: 16px;
}

#section1-rating .card-body p {
    font-size: 14px;
    color: #000;
}

#section1-rating .box-rate {
    float: left;
}

#section1-rating .box-rate h4 {
    font-weight: bold;
    font-size: 15px;
}


/* Page Style Rating End*/


/* Page Style Thank You Page Start */

#section1-thank-you {
    float: left;
    width: 100%;
    color: #000;
    margin: 0 0 100px 0;
}

.section1-thank-you {
    padding: 0 25px;
}

#section1-thank-you img {
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
}

.box-thank-content {
    width: 100%;
}

#section1-thank-you h2 {
    width: 100%;
    font-family: poppins-medium;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #131313;
    margin: 50px 0 0 0;
}

.box-thank-content .label-title {
    text-align: center;
    font-size: 16px;
}

.box-thank-content p {
    text-align: center;
    line-height: 2.5;
    font-size: 10px;
}

#section1-thank-you h5 {
    width: 100%;
    font-family: poppins-medium;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #131313;
}

#section1-thank-you p {
    width: 100%;
    font-family: poppins-regular;
    font-size: 15px;
    line-height: 17px;
    color: #555556;
}

.back-history {
    position: absolute;
    top: 60px;
    font-family: poppins-regular;
    font-size: 15px;
    line-height: 17px;
    color: #555556;
}

.back-history.mobile {
    display: none;
}


/* Page Style Thank You Page End */


/* Page Style E-pass Page Start */

#sextion1-epass .col-box-epass {
    border: 3px solid #000;
    margin: 15%;
    color: #000;
}

#sextion1-epass .box-epass-list {
    float: left;
    width: 70%;
}

.box-epass-list .box-content-image {
    float: left;
    width: 30%;
    margin-top: 7%;
}

.box-epass-list .box-content-image img {
    width: 80%;
    margin: 10%;
}

.box-epass-list .box-content-name {
    width: 70%;
    float: left;
    margin-top: 20%;
}

.box-epass-list .box-content-name h2 {
    font-weight: bold;
    font-size: 18px;
}

.box-epass-list .box-content-name p {
    font-size: 11px;
}

.box-epass-list .box-description {
    width: 100%;
    float: left;
}

.box-epass-list .box-description h5 {
    font-weight: bold;
    font-size: 14px;
}

.box-epass-list .box-description p {
    font-size: 9px;
}

.box-description .description-instructor {
    float: left;
    width: 25%;
    text-align: center;
    padding: 2%;
}

.box-description .description-date {
    float: left;
    width: 20%;
    text-align: center;
    padding: 2%;
}

.box-description .description-address {
    float: left;
    width: 35%;
    text-align: center;
    padding: 2%;
}

.box-description .description-time {
    float: left;
    width: 20%;
    text-align: center;
    padding: 2%;
}

#sextion1-epass .box-epass-logo {
    float: left;
    width: 30%;
}

.box-epass-logo .image-logo {
    width: 90%;
    margin: 5%;
}

.box-epass-logo h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
    font-size: 23px;
}

.box-epass-logo p {
    font-size: 14px;
    text-align: center;
    margin-bottom: -5%;
    margin-top: 10%;
}

.box-epass-logo .image-barcode {
    width: 80%;
    margin: 10%;
}


/* Page Style E-pass Page End */


/* Page Style My Certificate Start */

#mycertificate-page .box-certificate {
    width: 60%;
    float: left;
    background-color: rgb(16, 30, 72);
    color: #fff;
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.box-certificate .image-logo {
    width: 20%;
    margin-left: 40%;
}

#mycertificate-page .box-certificate h3 {
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    font-size: 25px;
}

.box-certificate .image-user {
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
}

#mycertificate-page .box-certificate h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
    font-size: 30px;
}

#mycertificate-page .box-certificate p {
    text-align: center;
    font-size: 18px;
    color: #fff;
}

#mycertificate-page .box-certificate h6 {
    text-align: center;
    margin-top: 3%;
    font-size: 18px;
}

.label-btn-certificate {
    width: 60%;
    float: left;
    margin-left: 5%;
}

#mycertificate-page .btn-view-certificate {
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;
    background-color: #EFAF0C;
    margin-left: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 14px;
}


/* Page Style My Certificate End */


/* Page Style Certificate Detail Start */

#section1-certificate-detail .box-certificate {
    width: 100%;
    float: left;
    background-color: rgb(16, 30, 72);
    color: #fff;
    padding: 3%;
    margin-top: 15%;
    margin-bottom: 5%;
}

.box-certificate .image-logo {
    width: 20%;
    margin-left: 40%;
}

#section1-certificate-detail .box-certificate h3 {
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    font-size: 18px;
}

.box-certificate .image-user {
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
}

#section1-certificate-detail .box-certificate h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 3%;
    font-size: 23px;
}

#section1-certificate-detail .box-certificate p {
    text-align: center;
    font-size: 11px;
}

#section1-certificate-detail .box-certificate h6 {
    text-align: center;
    margin-top: 3%;
    font-size: 14px;
}


/* Page Style Certificate Detail End */


/* Page Style Change Password Start */

#mycertificate-page .box-account {
    width: 40%;
    margin: 5%;
}


/* Page Style Change Password End */


/* Page Style Our Plans Start */

#section1-our-plan {
    float: left;
    width: 100%;
}

.box-title-container {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box-title-container h2 {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.box-title-container p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.box-title-container ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 25%;
    margin-left: 10%;
}

.box-title-container ul li {
    display: inline-block;
    width: 14%;
}

.box-title-container ul li .btn-warning {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    font-size: 14px;
}

.box-title-container ul li .btn-warning:focus {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    background-color: #ffc107;
    border-color: #ffc107;
}

.box-title-container ul li .btn-warning:hover {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    background-color: #ffc107;
    border-color: #ffc107;
}

.box-title-container ul li .btn-warning:active {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    background-color: #ffc107;
    border-color: #ffc107;
}

.box-our-plan-container {
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.box-our-plan-container .our-plan-plan {
    float: left;
    width: 400px;
    height: 400px;
}

.plan-body {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(16, 30, 72);
    color: #fff;
    border-radius: 1rem;
    height: 400px;
    padding-top: 10%;
    position: relative;
}

.box-criteria {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.box-criteria .criteria-number {
    float: left;
    width: 100%;
}

.box-criteria .criteria-number h2 {
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.box-criteria .criteria-info {
    float: left;
    width: 100%;
}

.box-criteria .criteria-info p {
    float: left;
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 16px;
}

.box-amount {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.box-amount .amount-price {
    float: left;
    width: 100%;
}

.box-amount .amount-price h1 {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.box-amount .amount-price sub {
    font-size: 15px;
}

.plan-body .box-description {
    float: left;
    width: 80%;
    margin: 10%;
    text-align: center;
}

.plan-body .box-description p {
    float: left;
    width: 90%;
    margin: 5%;
    font-size: 14px;
    color: #fff;
}

.plan-body .box-checkout {
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.plan-body .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 100%;
    border-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: bold;
    font-size: 17px;
}


/* Page Style Our Plans End */


/* Page Learning Page Search All Start */

#learning-page-all {
    float: left;
    width: 100%;
    margin: 0 0 100px 0;
}

#learning-page-all .box-banner {
    float: left;
    width: 100%;
}

#learning-page-all .box-banner img {
    float: left;
    width: 100%;
}

.box-learning-container {
    float: left;
    width: 100%;
}

.box-learning-container .learning-container {
    float: left;
    width: 100%;
    margin: 50px 0 0 0;
}

.container-search {
    float: left;
    width: 22%;
    padding: 10px 20px 20px 20px;
    margin: 10px 0 0 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.box-table {
    display: table;
    width: 100%;
    border: 2px solid rgb(16, 30, 72);
}

.box-top-object {
    display: table-cell;
    vertical-align: top;
    min-height: 300px;
}

.box-object-search,
.box-object-menu {
    float: left;
    width: 100%;
}

.box-object-search .form-control:focus {
    box-shadow: 0 0 0 0.5px rgb(16, 30, 72);
}

.box-object-search .form-control {
    border: 1px solid rgb(16, 30, 72);
}

.box-object-search .btn-outline-secondary.focus,
.box-object-search .btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.5px rgb(16, 30, 72);
}

.box-object-search .btn-outline-secondary:hover {
    color: #fff;
    background-color: rgb(16, 30, 72);
    border-color: rgb(16, 30, 72);
}

.box-object-search .btn-outline-secondary:focus {
    color: #fff;
    background-color: rgb(16, 30, 72);
    border-color: rgb(16, 30, 72);
}

.box-object-search .btn-outline-secondary:not(:disabled):not(.disabled).active,
.box-object-search .btn-outline-secondary:not(:disabled):not(.disabled):active,
.box-object-search .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgb(16, 30, 72);
    border-color: rgb(16, 30, 72);
}

.option-menu {
    background-color: rgb(16, 30, 72);
    color: #fff;
    list-style: none;
    font-size: 16px;
    padding: 5px;
    padding-left: 20px;
}

.box-object-menu ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0;
    margin-left: 0;
}

.box-object-menu ul li {
    list-style: none;
}

.box-object-menu ul li a {
    width: 90%;
    padding: 5px;
    display: block;
    font-size: 16px;
    margin-left: 10%;
}

.span-count {
    font-size: 12px;
    color: #007bff;
}

.container-result {
    float: left;
    width: 78%;
}

.box-container-result {
    float: left;
    width: 101%;
    padding: 0 0 0 7.5px;
}

.box-container-result .box-card {
    float: left;
    width: 33.3%;
    padding: 20px;
}

.box-card .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    height: 500px;
}


/* ===========Style new homepage start============== */

.width-100,
.width-50,
.width-40,
.width-33,
.width-20 {
    float: left;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-33 {
    width: 33.333%;
}

.width-20 {
    width: 20%;
}

.img-center {
    object-fit: cover;
    object-position: center;
}

.flex-start,
.flex-center,
.flex-end,
.flex-between,
.flex-wrap-center,
.flex-wrap-between {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-wrap-center {
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrap-between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.new-homepage {
    margin: 0 0 85px;
}

.box-method-outer {
    padding: 0 37px;
}

.box-method-container {
    position: relative;
    padding: 40px;
    margin: 15px 0;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.box-method-container .slick-track {
    display: inline-block;
}

.box-method-title {
    float: left;
    width: 18.9%;
    padding: 0 40px 0 0;
}

.box-method-list {
    float: left;
    width: 81.1%;
    position: relative;
}

.title-table {
    display: table;
    height: 540px;
}

.title-table-inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.box-title-img img {
    float: left;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.box-title-img h3 {
    margin: 30px 0 15px;
    font-family: poppins-bold;
    font-size: 24px;
    line-height: 36px;
}

.box-title-desc {
    float: left;
    width: 100%;
}

.box-title-desc p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.box-link-more {
    float: left;
    width: 100%;
}

.box-link-more.mobile {
    position: absolute;
    bottom: 20px;
    width: auto;
    display: none;
}

.box-link-more a:hover {
    text-decoration: underline;
}

.method-list-card {
    width: 102%;
}

.list-card {
    float: left;
    width: 25%;
    padding: 10px;
}

.list-card-inner {
    position: relative;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    height: 540px;
}

.courses .list-card-inner {
    height: 460px;
}

.new-homepage .list-card-img img {
    height: 220px;
}

.list-card-img img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 220px;
}

.list-card-desc {
    padding: 10px;
}

.card-desc-label {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1;
    color: #828282;
}

.card-desc-title {
    float: left;
    width: 100%;
    min-height: 45px;
    margin: 0 0 15px;
    font-size: 20px;
    line-height: 1.3;
}

.courses .card-desc-title {
    font-size: 16px;
    line-height: 24px;
}

.card-desc-description {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 14px;
}

#learning-page-all .card-desc-description {
    font-size: 12px;
}

#learning-page-all .list-card-img img {
    height: 200px;
}

#learning-page-all .courses .list-card-inner {
    height: 480px;
}

.box-btn {
    position: absolute;
    bottom: 0;
    margin: 20px 0 10px;
    padding: 0 10px;
}

.box-btn .btn-warning {
    width: 100%;
    font-family: montserrat-bold;
    font-size: 16px;
    border-radius: 6px;
}


/* Slide Courses */

.box-btn-group {
    margin: 0 0 15px 10px;
    position: absolute;
}

.box-certification-container .method-list-card,
.box-topic-container .method-list-card {
    margin: 50px 0 0;
}

.box-btn-group .btn-warning {
    margin: 5px;
    border: none;
    background-color: #ffffff;
    font-family: poppins-regular;
}

.box-btn-group .btn-warning:hover,
.box-btn-group .btn-warning.focus,
.box-btn-group .btn-warning:focus {
    font-weight: 600;
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.box-btn-group .btn-warning:not(:disabled):not(.disabled).active,
.box-btn-group .btn-warning:not(:disabled):not(.disabled):active,
.box-btn-group .show>.btn-warning.dropdown-toggle {
    color: #212529;
    font-weight: 600;
    background-color: #d39e00;
    border-color: #c69500;
}

.box-certification-container .nextArrowBtn,
.box-certification-container .prevArrowBtn,
.box-topic-container .nextArrowBtn,
.box-topic-container .prevArrowBtn {
    position: absolute;
    top: -52px;
}

.box-certification-container .nextArrowBtn,
.box-topic-container .nextArrowBtn {
    right: 20px;
}

.box-certification-container .prevArrowBtn,
.box-topic-container .prevArrowBtn {
    right: 70px;
}


/* ===========Style new homepage end============== */


/* Page Learning Page Search All End */


/* new header phase 2 start */


/* style header mobile start */

.header-web {
    display: block;
}

.header-mobile {
    display: none;
}


/* style header mobile end */

.new-container,
.box-new-header-menu {
    display: flex;
    justify-content: center;
}

.new-container-color {
    min-height: 72vh;
    background: #F9F9F9;
}

.new-container-inner {
    display: flex;
    flex-wrap: wrap;
    width: 67.788%;
    max-width: 1290px;
    min-width: 1290px;
}

.box-new-header-menu {
    background: #0E1A3D;
}

.box-header-top {
    display: flex;
    justify-content: space-between;
}

.box-header-table {
    display: table;
    height: 110px;
}

.box-header-top-inner {
    display: table-cell;
    vertical-align: middle;
}

.new-header .box-logo {
    width: 15.762%;
    padding: 5px 0;
}

.new-header .box-search {
    width: 46.512%;
    color: #ffffff;
    padding: 7px 0;
}

.new-header .box-search .mb-3 {
    margin: 0 !important;
}

.new-header .box-search .form-control {
    font-family: poppins-Medium;
    font-size: 16px;
    line-height: 24px;
    color: #101E48;
    height: 42px;
    border-radius: 5px 0 0 5px;
}

.new-header .box-search .form-control::placeholder {
    font-family: poppins-Regular;
    color: #828282;
}

.new-header .box-search .btn {
    background: #fff;
    border-radius: 0 5px 5px 0;
}

.new-header .box-search .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.new-header .box-search .btn.focus,
.new-header .box-search .btn:focus {
    outline: 0;
    box-shadow: none;
    background: #DDDDDD;
}

.new-header .box-action {
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding: 0 16px 0 0;
}

.header-web .box-action .btn-warning {
    height: 42px;
    margin: 7px 0;
}

.new-header .box-action a {
    font-family: poppins-Regular;
    font-size: 18px;
    line-height: 27px;
    padding: 14px 0;
}

.new-header .box-user-info {
    padding: 4px 0;
}

.new-header .box-user-info img {
    height: max-content;
    margin: 12px 14px 0 0;
}

.new-header .box-user-info .btn {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: auto;
    height: auto;
    padding: 0;
    margin: 9px 0;
}

.new-header .box-user-info .btn:focus {
    box-shadow: none;
}

.new-header .box-user-info .dropdown-toggle::after {
    top: 10px;
    right: -20px;
    content: url(../icons/icon-dropdown.svg);
    transform: scale(0.9);
}

.new-header .box-user-info .dropdown-menu {
    left: unset;
    right: 0;
    padding: 0;
    width: max-content;
}

.new-header .box-user-info .dropdown-item {
    padding: 2px 10px;
    margin: 0;
    color: #333333;
    text-align: start;
    font-size: 16px;
}

.new-header .box-user-info .dropdown-item img {
    height: max-content;
    margin: 0;
}

.new-header .box-icon {
    cursor: pointer;
    padding: 14px 0;
}

.new-header .box-cart {
    position: relative;
    padding: 14px 0;
}

.box-cart .box-cart-count {
    position: absolute;
    top: 12px;
    right: -6px;
    width: 16px;
    height: 16px;
    background: #FFC107;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.box-cart .box-cart-count p {
    font-family: poppins-Bold;
    font-size: 0.7vmax;
    line-height: 15px;
    color: #101E48;
}

.box-new-header-menu .header-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.box-new-header-menu .header-menu ul li {
    padding: 16.23px;
    white-space: nowrap;
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.box-new-header-menu .header-menu ul li img {
    margin: 0 5px;
}

.new-header .box-action a:hover,
.box-new-header-menu .header-menu ul a:hover {
    font-weight: 700;
}


/* new header phase 2 finish */


/* pembelajaranku style start */

.box-pembelajaranku {
    position: relative;
}

.box-pembelajaranku h3 {
    float: left;
    width: 100%;
    font-family: poppins-bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #131313;
    margin: 42px 0 22px;
}

.box-pembelajaranku-category {
    width: 101.70%;
    margin: 0 0 0 -0.85%;
}

.box-pembelajaranku-category h3 {
    font-family: poppins-medium;
    font-size: 24px;
    line-height: 36px;
    margin: 17px 0 24px;
    padding: 0 15px;
}

.pembelajaranku-category {
    float: left;
    width: 25%;
    padding: 10px;
}

.pembelajaranku-category-inner {
    float: left;
    width: 100%;
    height: 285px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
}

.box-pembelajaranku-image {
    display: flex;
    justify-content: center;
}

.pembelajaranku-category .box-btn {
    margin: 0;
    padding: 0;
}

.pembelajaranku-category .box-btn .btn {
    height: 46px;
    border-radius: 0 0 10px 10px;
    font-family: poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #101E48;
    padding: 10px 0;
}

.box-pembelajaranku .box-method-container {
    padding: 40px;
    margin: 50px 0 100px;
}

.box-pembelajaranku .box-title-img h3 {
    text-align: left;
}

.box-method-container.flash-sale {
    background: #FFF9EA;
    border: 1px solid #E0E0E0;
}

.box-time-count {
    display: flex;
}

.time-count {
    width: 32px;
    height: 32px;
    background: #333333;
    border-radius: 4px;
}

.time-count h5 {
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFC107;
    margin: 4px;
}

.time-sparator {
    margin: 4px;
}

.link-back {
    position: absolute;
    left: 0;
    top: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #101E48;
}

.link-back:hover {
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
}

.detail-learning-web {
    display: block;
}

.detail-learning-mobile {
    display: none;
}

.list-learning {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    color: #4F4F4F;
}

.list-learning-title {
    background: #F9F9F9;
    box-sizing: border-box;
    padding: 14px;
    cursor: pointer;
}

.list-learning-title.active {
    border-bottom: 1px solid #E0E0E0;
}

.list-learning-desc {
    padding: 14px;
    display: none;
}

.listing-desc-inner,
.list-learning {
    margin: 7px 0;
}

.list-learning h5 {
    float: left;
    width: 100%;
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.list-learning p {
    float: left;
    width: 100%;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}

.list-learning .list-icon {
    width: 35px;
}

.list-learning .list-icon img {
    margin: 0 !important;
}

.list-learning .btn {
    margin: 5px 0 0 0;
    height: 45px;
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
}

.list-learning .btn-outline-secondary {
    color: #101E48;
    border-color: #101E48;
}

.list-learning .btn-outline-secondary:hover {
    color: #fff;
    background-color: #101E48;
    border-color: #101E48;
}

.list-learning .btn-outline-secondary:not(:disabled):not(.disabled).active,
.list-learning .btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #101E48;
    border-color: #101E48;
}


/* pembelajaranku style finish */


/* tranining details style start */

.box-training-details {
    position: relative;
}

.box-training-details h5 {
    float: left;
    width: 100%;
    padding: 5px 14px;
    margin: 0;
}

.box-training-details .img-desc {}

.box-training-banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.training-banner-image {
    margin: 0 1.5% 0 0;
    width: 77%;
}

.training-banner-image img,
.training-banner-thumbnail img {
    width: 100%;
    height: 350px;
}

.training-banner-thumbnail {
    width: 21.318%;
    min-width: 275px;
    cursor: pointer;
}

.modal-video-view .modal-dialog {
    max-width: 1290px;
}

.modal-video-view .modal-body {
    padding: 0;
}

.modal-video-view .modal-body .close {
    position: absolute;
    top: -57px;
    right: 0;
    background-color: #fff;
    opacity: 1;
    width: 42px;
    height: 42px;
}

.video-view-content iframe {
    width: 100%;
    height: 587px;
}

.video-view-description {
    padding: 24px;
}

.video-view-description p {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.box-navigation-rating,
.box-rating-star,
.box-rating,
.box-nav-cart,
.box-share-icon,
.box-cart-action {
    display: flex;
    justify-content: space-between;
}

.box-navigation-rating {
    margin: 0 0 24px 0;
}

.box-navigation {
    display: flex;
    justify-content: space-between;
    width: 34.2%;
}

.box-navigation .btn {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 19px;
}

.box-rating {
    width: 26%;
}

.box-rating p {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 3px 0;
}

.box-rating-star {
    margin: 3px 0;
}

.box-nav-cart {
    max-width: 1290px;
    background: rgba(16, 30, 72, 0.85);
    border-radius: 10px 10px 0px 0px;
    padding: 23px 24px 23px 18px;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.box-add-info {
    position: absolute;
    bottom: 110px;
}

.add-info {
    width: 69.38%;
    background: #27AE60;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 14px;
    display: none;
}

.add-info .info-desc {
    float: left;
    width: 80%;
}

.add-info .info-desc p {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 0 0 12px;
    width: 100%;
}

.add-info .info-see {
    float: left;
    width: 20%;
    text-align: right;
}

.add-info .info-see a {
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.box-share {
    display: flex;
    flex-wrap: wrap;
}

.box-share p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 0 0 8px 6px;
}

.box-share-icon .share-icon {
    margin: 6px 6px 0 6px;
}

.box-cart-action {
    width: 31%;
    margin: 8px 0;
}

.box-cart-action .btn-outline-light:hover,
.box-cart-action .btn-outline-light:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: transparent;
    border-color: #f8f9fa;
}

.box-cart-action .btn-warning {
    font-family: Poppins-Bold;
    font-size: 18px;
    line-height: 1;
    color: #101E48;
}

.box-training-details .line-horizontal {
    border: 1px solid #E0E0E0;
    margin: 42px 0;
}

.box-related-product {
    margin: 0 0 100px 0;
}

.box-related-product .method-list-card {
    width: 100%;
    margin: 0;
}

.box-related-product .box-method-list {
    width: 100%;
    margin: 20px 0 0 0;
}

.method-list-card {
    width: 101.6%;
    margin: 0 0 0 -0.8%;
}

.box-related-product .list-card {
    width: 100%;
    padding: 5px 10px;
}

.slide-rp .nextArrowBtn,
.slide-rp .prevArrowBtn {
    position: absolute;
    top: -58px;
    z-index: 1;
}

.slide-rp .prevArrowBtn {
    right: 55px;
}

.slide-rp .nextArrowBtn {
    right: 10px;
}


/* tranining details style finish */


/* shoping cart style start */

.box-shoping-cart {
    margin: 42px 0 100px;
}

.shoping-cart-list {
    width: 73%;
    margin: 0 14px 0 0;
}

.shoping-cart-list .list-group {
    margin: 0;
}

.shoping-cart-list .card-header {
    padding: 4px 1.25rem;
}

.shoping-cart-list .custom-control {
    min-height: 1.5rem;
    padding-left: 2.2rem;
}

.shoping-cart-list .custom-control-label::before,
.shoping-cart-list .custom-control-label::after {
    top: 0;
    left: -35px;
    width: 22px;
    height: 22px;
}

.shoping-cart-list .custom-control-input:checked~.custom-control-label::before {
    border-color: #101E48;
    background-color: #101E48;
}

.shoping-cart-list .custom-control-label {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 6px 0;
}

.cart-delete {
    padding: 6.5px 0;
}

.cart-delete a {
    font-family: Poppins-Regular;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #EB5757;
}

.box-shoping-cart .box-title-container ol,
ul,
dl {
    margin: 0;
}

.box-cart-image {
    max-width: 326px;
    margin: 0 15px 0 0;
}

.box-cart-image img {
    cursor: cell;
}

.box-cart-description {
    width: 62%;
}

.box-cart-description p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.box-cart-description h5 {
    font-family: Poppins-Medium;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #101E48;
    margin: 0;
}

.box-option-value {
    margin: 18px 0 0;
}

.box-value-category {
    float: left;
    width: 25%;
}

.box-value-qty {
    float: left;
    width: 25%;
}

.box-value-add {
    float: left;
    width: 50%;
}

.box-value-qty p {
    margin: 10px 8px 10px 0;
}

.box-value-qty .btn,
.box-value-qty .form-control {
    height: 42px;
}

.box-value-qty .btn {
    width: 44px;
    padding: .375rem .55rem;
}

.box-value-qty .btn.focus,
.box-value-qty .btn:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}

.box-value-qty .form-control {
    background: #e7e8ea;
    border-radius: 4px;
    max-width: 42px;
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.box-add a {
    font-family: Poppins-Medium;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2A55C2;
    margin: 12px 0 12px 5px;
}

.box-option-value .select-noa {
    height: 42px;
    background: #e7e8ea;
    border-radius: 4px;
}

.box-option-value .select-styled-noa,
.box-option-value .select-styled-noa:hover {
    height: 45px;
    padding: 12px;
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 21px;
    color: #333333 !important;
}

.box-option-value .form-control::placeholder {
    font-family: montserrat-regular;
    font-size: 18px;
    color: #828282 !important;
}

.box-option-value .select-styled-noa::before {
    top: 44%;
    right: 17px;
}

.shoping-cart-summary {
    float: left;
    max-width: 330px;
    max-height: 156px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px;
}

.checkout-cart .shoping-cart-summary {
    max-height: 270px;
}

.checkout-cart .card-header label {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 2px 0;
}

.summary-title {
    margin: 0 0 8px 0;
}

.summary-content {
    margin: 8px 0;
}

.shoping-cart-summary h5 {
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0;
}

.shoping-cart-summary h6 {
    font-family: Poppins-Medium;
    font-size: 18px;
    line-height: 27px;
    color: #101E48;
    margin: 0;
    text-align: end;
}

.shoping-cart-summary p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.shoping-cart-summary .promo-code img {
    cursor: pointer;
}

.shoping-cart-summary .promo-code .form-control {
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 21px;
    color: #101E48;
    padding: 4px 10px;
    height: 27px;
    border-radius: 0;
}

.box-promo-use .btn-light {
    margin: 12px 0 12px 5px;
}

.shoping-cart-summary .promo-code .form-control::placeholder {
    font-family: poppins-Regular;
}

.shoping-cart-summary .promo-code .btn {
    height: 27px;
    padding: 0px 7px;
    border-radius: 0;
}

.shoping-cart-summary .btn {
    font-family: Poppins-Bold;
    font-size: 16px;
    line-height: 24px;
    color: #101E48;
}

.box-nav-back {
    position: relative;
    margin: 0 0 24px;
}

.box-nav-back.mobile {
    text-align: center;
    display: none;
}

.box-nav-back .btn-outline-dark {
    position: absolute;
    color: #101E48;
    border-color: #101E48;
}

.box-nav-back .btn-outline-dark:hover {
    color: #fff;
    background-color: #101E48;
    border-color: #101E48;
}

.box-nav-back .btn-outline-dark.focus,
.box-nav-back .btn-outline-dark:focus {
    box-shadow: none;
}

.box-nav-back h3 {
    width: 100%;
    font-family: poppins-medium;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #131313;
}

.modal-promo .modal-body {
    padding: 0;
}

.box-promo-list .card-outer {
    margin: 0 0 14px 0;
    border: 2px solid transparent;
    border-radius: 5px;
}

.box-promo-list .card-outer.active {
    border: 2px solid #FFC107;
    background: #F2F2F2;
}

.box-promo-list .card {
    cursor: pointer;
    background-color: transparent;
}


/* .box-promo-list .card.active {
    
} */

.box-promo-list .card:hover {
    background: #F5F5F5;
    transition: 1s;
}

.promo-title {
    padding: 15px;
    background: #F2F2F2;
}

.promo-desc {
    padding: 15px;
    background: #fff;
    height: 430px;
    overflow-y: scroll;
}

.box-promo-list .card-body {
    padding: 10px 15px;
}

.box-promo-list .card-footer {
    padding: 5px 15px;
}

.promo-desc h5 {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.promo-desc h4 {
    font-family: Poppins-Medium;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.promo-desc .card-text {
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin: 0 0 10px;
}

.promo-time h6 {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin: 0;
    padding: 10px;
}

.card-footer .btn-link {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.modal-promo .modal-footer .btn-secondary {
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 22px;
}


/* shoping cart style finish */


/* Assign Ticket style start */

.box-assign-ticket {
    margin: 42px 0 100px;
}

.box-assign-ticket h4 {
    float: left;
    width: 100%;
    padding: 10px 10px 10px 18px;
    margin: 0;
    font-family: 'poppins-regular';
    font-size: 20px;
}

.box-assign-ticket h3,
.box-assign-ticket h5,
.box-assign-ticket h6,
.box-assign-ticket p {
    font-family: Poppins-Regular;
    color: #333333;
    margin: 0;
}

.box-assign-ticket h3 {
    font-family: poppins-medium;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 14px;
}

.box-assign-ticket h5 {
    font-family: poppins-medium;
    font-size: 14px;
    line-height: 21px;
    color: #101E48;
    margin: 5px 0;
}

.box-assign-ticket h6 {
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}

.box-assign-ticket p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin: 5px 0;
}

.list-assign-ticket {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    padding: 18px;
    margin: 9px 0;
}

.assign-ticket-description {
    width: 618px;
}

.box-ticket {
    margin: 0 0 13px;
}

.ticket-label {
    width: 300px;
    position: relative;
}

.ticket-label .form-control {
    height: 42px;
    font-family: Poppins-Regular;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.ticket-button {
    position: absolute;
    right: -168px;
    bottom: 0;
}

.ticket-button .btn {
    width: 150px;
    height: 42px;
    font-family: Poppins-Regular;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.ticket-button-text img {
    float: left;
    width: 12px;
    height: 8px;
    margin: 11px 10px 11px 0;
}

.ticket-button-text p {
    float: left;
    font-size: 14px;
    line-height: 21px;
    color: #27AE60;
}

.assign-ticket-image {
    max-width: 450px;
}

.assign-ticket-image img {
    width: 100%;
    height: 152px;
}

.list-assign-ticket .line-horizontal {
    border: 1px solid #E0E0E0;
    height: 0px;
}


/* Assign Ticket style finish */