@media screen and (max-width: 767px) {
    /* Style Content Start */
    #content {
        min-height: 80vh;
        margin-top: 70px;
    }
    /* Style Sidebar Start */
    #sidebar ul li a {
        color: #fff;
        font-size: 16px;
    }
    .box-subscribe {
        display: none;
    }
    .active-mobile {
        display: block;
    }
    .active-mobile .fa-angle-down {
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .active-mobile .fa-angle-down:hover {
        -webkit-transition: all .25s 0s;
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    ul ul a {
        font-size: 0.9em !important;
        background: #fff;
    }
    .side-title {
        width: 90%;
        margin-left: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #fff;
        /* border-bottom: 1px solid #fff; */
    }
    .side-title:hover {
        color: rgb(16, 30, 72);
        background: #fff;
    }
    #sidebar .box-scroll {
        overflow-y: auto;
        padding-top: .5rem;
        height: 100vh;
    }
    .sidebar-header-login .chek-in p {
        color: #ffffff;
        font-size: 14px;
    }
    .sidebar-header-login .chek-in h5 {
        color: #ffffff;
        font-size: 14px;
    }
    .chek-in .btn-warning {
        border-radius: 1.2rem;
        font-size: 12px;
        font-weight: bold;
        min-width: 100px;
        color: rgb(16, 30, 72);
    }
    .chek-in .btn-outline-warning {
        border-radius: 1.2rem;
        font-size: 12px;
        font-weight: bold;
        min-width: 100px;
        color: #ffffff;
    }
    .side-title h5 {
        font-weight: bold;
        font-size: 16px;
        margin-left: 5%;
    }
    /* Page Style Login  Start*/
    .box-login-container {
        width: 500px;
    }
    .box-login {
        top: 0;
        float: left;
        width: 100%;
        height: auto;
        position: relative;
    }
    .box-login .box-link-register {
        float: left;
        width: 100%;
        height: 100%;
        padding: 25px;
        text-align: center;
    }
    .box-login h2 {
        font-weight: normal;
        font-size: 20px;
        color: #fff;
    }
    .box-link-register #button-register {
        width: 60%;
        border-radius: 1rem;
        font-weight: bold;
        margin-top: 25px;
        font-size: 14px;
    }
    .box-login-form {
        right: 0;
        bottom: 0;
        float: left;
        width: 100%;
        height: auto;
        padding: 25px;
        position: relative;
    }
    .box-content-login h3 {
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 20px;
    }
    #bottom-login {
        margin-top: 2rem;
    }
    .box-content-login .btn-warning {
        font-weight: bold;
        color: rgb(16, 30, 72);
        border-radius: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 14px;
    }
    /* Page Style Login  End*/
    /* Page Style Register  Start*/
    /* Pre Register start */
    .box-pre-regiter,
    .pre-register-container {
        width: 450px;
    }
    /* Pre Register End */
    .box-register-container {
        width: 500px;
        padding: 30px;
    }
    .box-register h3 {
        font-size: 23px;
    }
    .box-content-register h3 {
        text-align: center;
        font-size: 15px;
    }
    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        font-size: 12px;
    }
    .form-register .btn-register {
        padding-left: 3rem;
        padding-right: 3rem;
        font-weight: bold;
        font-size: 14px;
    }
    /* Page Style Register  End*/
    /* Page Style Forgot Password  Start*/
    .box-forgot-confirm {
        background-color: #ffffff;
        width: 450px;
        height: 600px;
        padding: 20px;
        box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    }
    .box-forgot {
        background-color: #ffffff;
        width: 450px;
        height: 480px;
        padding: 20px;
        box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    }
    .box-register-image img {
        width: 130px;
    }
    .box-forgot h3,
    .box-forgot-confirm h3 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 16px;
    }
    .box-forgot p,
    .box-forgot-confirm p {
        text-align: center;
        font-size: 13px;
    }
    .box-forgot-form {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #bottom-forgot .btn-warning {
        font-weight: bold;
        color: rgb(16, 30, 72);
        border-radius: 1rem;
        margin-top: 1rem;
        width: 50%;
        font-size: 14px;
    }
    #bottom-forgot .btn-confirm {
        font-weight: bold;
        color: rgb(16, 30, 72);
        border-radius: 1rem;
        margin-top: 1rem;
        font-size: 14px;
        width: auto;
    }
    /* Page Style Forgot Password  End*/
    /* Header Style Start */
    .svg-inline--fa.fa-w-16 {
        width: .7em;
    }
    .section-header {
        height: 70px;
    }
    .box-icon-collapse {
        float: left;
        width: 100%;
        padding-left: 1rem;
    }
    .section-header .box-togleM p {
        color: #fff;
        float: left;
        margin-top: 1.2rem;
        display: none;
    }
    .section-header .box-logoM {
        float: left;
        width: 70%;
    }
    .box-logoM #logo {
        float: left;
        width: 100%;
    }
    .section-header .box-logoM img {
        float: left;
        margin-left: 35%;
        width: 30%;
    }
    .box-logoM .title-menu {
        float: left;
        width: 100%;
    }
    .public-title-menu h3 {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin-top: .1rem;
    }
    .section-header .box-subsribe {
        float: left;
        width: 15%;
        display: none;
    }
    .box-subsribe .btn-warning {
        font-weight: bold;
        font-size: 10px;
        margin-left: -.5rem;
    }
    /* Header Style End */
    /* Page Style Homepage  Start*/
    .left-point-title {
        width: 170px;
    }
    .right-point-title {
        width: 210px;
    }
    #section2 {
        margin: 20px 0;
    }
    #section2 .box-points {
        width: 100%;
        padding-left: 0%;
    }
    #section2 h2 {
        font-size: 23px;
        font-weight: bold;
        margin-left: 5%;
        width: 90%;
        margin-top: 2%;
    }
    #section2 p {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #000;
        font-size: 17px;
    }
    #section2 h3 {
        font-weight: bold;
        font-size: 17px;
    }
    .points-content-number {
        border-style: solid;
        border-color: rgb(10, 10, 10);
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 6rem;
        text-align: center;
        position: absolute;
    }
    .points-content-number .point-number {
        font-size: 1.2em;
        font-weight: bold;
        width: 80%;
        margin: 10%;
    }
    .points-content-body {
        width: 100%;
        float: left;
        padding-left: 50px;
    }
    #section2 .box-point-container,
    #section2 .box-point-image {
        width: 100%;
        max-width: 569px;
    }
    #section2 img {
        height: 569px;
    }
    #section2 .box-point-container {
        margin: 0 0 20px 0;
    }
    #section3 h2 {
        font-size: 23px;
        font-weight: bold;
        text-align: center;
    }
    .box-method-outer {
        padding: 0;
    }
    .box-learning .box-learning-content {
        float: left;
        width: 50%;
        padding: 3%;
    }
    .product-overlay p {
        font-size: 10px;
        text-align: center;
    }
    #section3 h3 {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        margin-top: 3%;
    }
    #section3 h4 {
        font-size: 15px;
        text-align: center;
    }
    .product-overlay .btn-outline-secondary {
        border-radius: 1rem;
        font-weight: bold;
        border: 2px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        border-color: #fff;
        margin-top: -1%;
        width: 50%;
        margin-left: 25%;
        font-size: 13px;
        line-height: 7px;
    }
    #section4 h2 {
        font-size: 23px;
        font-weight: bold;
        text-align: center;
    }
    .box-course .box-course-content-bottom {
        width: 90%;
        float: left;
        margin-left: 5%;
    }
    #section4 .btn-outline-secondary {
        width: 140px;
        min-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        border-radius: 1rem;
        border: none;
        background-color: rgb(247, 244, 244);
        font-size: 13px;
    }
    #section4 h3 {
        font-size: 17px;
        margin-bottom: 1rem;
    }
    #section4 p {
        font-size: 15px;
    }
    #section4 h5 {
        float: left;
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
    }
    #section4 .box-course {
        width: 100%;
        float: left;
        margin-left: 0;
    }
    .box-course .box-course-content {
        float: left;
        width: 90%;
        margin-left: 5%;
        padding-left: 0;
    }
    #section4 .card-deck {
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #section4 .card {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 450px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #section5 {
        margin: 70px 0;
    }
    #section5 h2 {
        font-size: 23px;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
    }
    .instructor-comming {
        height: 500px;
    }
    .box-instructor .box-instructor-content-bottom {
        width: 90%;
        float: left;
        margin-left: 5%;
    }
    #section5 .btn-outline-secondary {
        width: 140px;
        min-height: 45px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 10px;
        border-radius: 1rem;
        border: none;
        background-color: rgb(247, 244, 244);
        font-size: 13px;
    }
    .box-instructor .box-instructor-content {
        float: left;
        width: 90%;
        margin-left: 5%;
        padding-left: 0;
    }
    #section5 .card-deck {
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #section5 .card {
        height: 450px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    #section5 h5 {
        float: left;
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin-left: 10%;
        margin-top: 2rem;
    }
    #section5 h3 {
        font-size: 18px;
        margin-bottom: 1rem;
    }
    #section5 p {
        font-size: 15px;
    }
    /* Footer */
    .box-middle-object {
        height: 60px;
    }
    #footer .box-media-container {
        float: left;
        width: 60%;
    }
    .box-image-info .box-logo {
        width: 25%;
        height: 60px;
        padding: 3px 0;
    }
    .box-image-info .box-logo a {
        float: left;
    }
    .box-image-info .box-logo img {
        width: 70%;
        margin: 5% 10%;
        vertical-align: unset;
    }
    .box-image-info .box-info-container {
        width: 75%;
        padding: 10px 0;
    }
    #footer .box-info {
        width: 28%;
        height: 40px;
        line-height: 40px;
    }
    #footer .box-info.tnc {
        width: 44%;
    }
    #footer .link-info {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        font-size: 12px;
    }
    #footer .box-info p {
        color: #fff;
        margin: 10%;
        margin-top: 0;
        vertical-align: middle;
    }
    #footer .box-media {
        float: left;
        width: 70%;
    }
    .box-media .media-image {
        float: left;
        width: 20%;
        height: 60px;
        line-height: 60px;
    }
    .box-media .media-image img {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        vertical-align: middle;
    }
    .box-media .media-text {
        float: left;
        width: 80%;
        height: 60px;
        line-height: 60px;
    }
    .box-media .media-text p {
        color: #fff;
        float: left;
        width: 80%;
        font-size: 12px;
        vertical-align: middle;
    }
    .box-navigation #myBtn {
        position: fixed;
        bottom: 5.7rem;
        right: 3rem;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(25, 66, 170);
        cursor: pointer;
        padding: 0px;
        width: 50px;
    }
    .box-navigation img {
        width: 6%;
    }
    .label-navigation h5 {
        right: -1.2rem;
        top: 3rem;
        bottom: 1px;
        position: relative;
        font-size: 16px;
        display: none;
    }
    /* Page Style Homepage  End*/
    /* Page Style Topict Personal Selling  Start*/
    #section2-decription-selling {
        float: left;
        width: 100%;
        padding-top: 1rem;
    }
    #section2-decription-selling .col-sm-3 {
        width: 30%;
    }
    .box-activity-selling-elearning {
        width: 100%;
        float: left;
        padding-left: 2%;
    }
    .selling-activity-left {
        float: left;
        width: 50%;
    }
    .selling-activity-right {
        float: left;
        width: 50%;
    }
    .selling-activity-left .icon {
        float: left;
        width: 20%;
        height: 30px;
    }
    .selling-activity-right .icon {
        float: left;
        width: 20%;
        margin-left: 0%;
    }
    .selling-activity-left .icon img,
    .selling-activity-right .icon img {
        float: left;
        width: 70%;
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 0;
    }
    .selling-activity-left .selling-desc,
    .selling-activity-right .selling-desc {
        float: left;
        width: 80% !important;
        margin-left: 0 !important;
    }
    .selling-desc h5 {
        font-size: 12px;
        text-align: left;
        padding-top: .4rem;
        padding-left: 1rem;
    }
    #section2-decription-selling .column-description p {
        color: #000;
        font-size: 12px;
    }
    .selling-activity-left .btn-warning {
        margin-top: 2rem;
        font-weight: bold;
        border-radius: 1rem;
        font-size: 12px;
    }
    .box-payment-selling .btn-warning {
        margin-top: 2rem;
        font-weight: bold;
        border-radius: 1rem;
        text-align: center;
        background-color: #EFAF0C;
        width: 24%;
        padding-left: 10px;
        margin-bottom: 2rem;
        float: left;
        margin-left: 38%;
        font-size: 12px;
    }
    #section2-decription-selling .box-payment-selling h3 {
        text-align: center;
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 20px;
    }
    #section2-decription-selling .box-payment-selling h6 {
        text-align: center;
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 14px;
    }
    #section2-decription-selling .box-payment-selling h1 {
        text-align: center;
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 30px;
    }
    .column-description table {
        width: 520px !important;
        font-size: 14px;
    }
    .column-description ul li {
        font-size: 12px;
    }
    .dataTables_wrapper {
        overflow-x: overlay !important;
    }
    .dataTables_wrapper .dataTable {
        width: max-content;
        font-size: 14px;
    }
    .odd .table td,
    .odd .table th {
        font-size: 14px;
    }
    /* Page Style Topict Personal Selling  End*/
    /* Page Style My Profile  Start*/
    #section1-account {
        width: 100%;
        min-height: 80vh;
        margin-bottom: 8rem;
    }
    #section1-account .myprofile-picture {
        width: 100%;
        margin-top: 2rem;
        float: left;
    }
    #section1-account .myprofile-bottom {
        width: 100%;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    #section1-account .myprofile-camera {
        width: 100%;
        float: left;
    }
    #section1-account .myprofile-picture img {
        max-width: 30%;
        margin-left: 35%;
    }
    #section1-account .myprofile-camera img {
        margin-top: -15%;
        width: 8%;
        margin-left: 58%;
        border: 1px solid rgb(16, 30, 72);
    }
    #section1-account .label-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
        margin-left: 2rem;
    }
    #section1-account .label-title h4 {
        font-size: 20px;
        font-weight: bold;
    }
    #section1-account .label-detail {
        margin-left: 2rem;
    }
    #section1-account .label-detail h5 {
        font-size: 18px;
    }
    #section1-account .label-detail p {
        font-size: 17px;
        color: rgb(16, 30, 72);
    }
    #section1-account .label-bottom {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    #section1-account .myprofile-bottom .btn-warning {
        width: 100%;
        border-radius: .5rem;
        margin-top: 1rem;
        text-align: left;
        background-color: rgb(221, 219, 219);
        border: 1px solid rgb(221, 219, 219);
        color: rgb(16, 30, 72);
        margin-left: 0;
        font-weight: normal;
        padding-left: .5rem;
    }
    .label-bottom .btn-warning {
        border-radius: 1.2rem;
        font-weight: bold;
        padding-left: 1.5rem;
        padding-right: 1rem;
        width: 150px;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-size: 16px;
    }
    /* Page Style My Profile  End*/
    /* Page Style Account Start */
    #edit-profile-page .btn-warning {
        border-radius: 1.2rem;
        font-weight: bold;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        float: right;
        width: 100%;
        margin-right: 0;
        font-size: 16px;
    }
    #edit-profile-page .box-account {
        width: 80%;
        float: left;
        margin-top: 1rem;
    }
    #edit-profile-page .label-bottom {
        width: 50%;
        float: left;
    }
    #changepassword-page .box-account {
        width: 80%;
        float: left;
        margin-top: 1rem;
        margin-left: 5%;
    }
    #edit-profile-page .button-change-password {
        border-radius: 1.2rem;
        font-weight: bold;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        float: right;
        width: 100%;
        margin-right: 0;
        font-size: 16px;
    }
    /* Page Style Account End */
    /* Page Style My Couse Start*/
    #mycourse-page .label-title {
        width: 85%;
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: rgb(16, 30, 72);
        margin-left: 2rem;
        float: left;
    }
    #mycourse-page .label-title h4 {
        float: left;
        margin-right: 2rem;
        font-size: 20px;
    }
    #mycourse-page .label-title p {
        color: rgb(16, 30, 72);
        font-size: 20px;
    }
    #mycourse-page .card-deck {
        width: 80%;
        float: left;
        margin-left: 10%;
    }
    #mycourse-page .card {
        min-height: 400px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    #mycourse-page .card-body h3 {
        font-size: 18px;
    }
    #mycourse-page .card-body p {
        font-size: 13px;
    }
    /* Page Style My Couse End*/
    /* Page Style Contact US Start*/
    #section2-myoffice .label-myoffice {
        margin-top: 3rem;
    }
    #section2-myoffice .label-myoffice h2 {
        color: rgb(16, 30, 72);
        margin-left: 13%;
        font-size: 22px;
    }
    #section2-myoffice .address p {
        float: left;
        width: 85%;
        font-size: 14px;
        margin-left: 1rem;
        color: rgb(16, 30, 72);
    }
    #section2-myoffice .telepon {
        float: left;
        width: 100%;
        margin-top: 1rem;
    }
    #section2-myoffice .telepon img {
        float: left;
        width: 10%;
    }
    #section2-myoffice .telepon p {
        float: left;
        width: 80%;
        font-size: 13px;
        margin-left: .5rem;
        color: rgb(16, 30, 72);
        margin-top: 3px;
    }
    /* Page Style Contact US End*/
    /* Page Style About US Start*/
    #section2-about-us .box-about-us {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #section2-about-us .box-about-us h4 {
        color: rgb(16, 30, 72);
        font-weight: bold;
        font-size: 23px;
    }
    #section2-about-us .box-about-us h5 {
        color: rgb(16, 30, 72);
        font-weight: bold;
        font-size: 18px;
    }
    #section2-about-us .box-about-us p {
        color: rgb(16, 30, 72);
        font-size: 13px;
    }
    /* Page Style About US Start*/
    /* Page Style FAQ Start*/
    #section1-faq .box-faq {
        max-width: 100%;
        margin: 3rem;
    }
    #section1-faq .box-faq h4 {
        color: rgb(16, 30, 72);
        margin-top: 1.5rem;
        font-size: 1em;
    }
    #section1-faq .box-faq p {
        color: rgb(16, 30, 72);
        font-size: .8em;
    }
    /* Page Style FAQ End*/
    /* Page Style InstructorDetail Start*/
    #section1-instructor-detail .profile-picture img {
        min-height: 400px;
        padding: 2.5rem;
    }
    #section1-instructor-detail h3 {
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        margin-top: 2rem;
        margin-bottom: -1rem;
    }
    #section1-instructor-detail .instuctor-detail-title h2 {
        font-weight: bold;
        text-align: left;
        font-size: 17px;
    }
    .box-instructor-detail .instuctor-detail-title p {
        font-weight: bold;
        text-align: left;
        font-size: 13px;
    }
    .box-instructor-detail h5 {
        font-weight: bold;
        font-size: 13px;
    }
    .box-instructor-detail .instctor-detail-profile p {
        font-size: 13px;
    }
    /* Page Style InstructorDetail End*/
    /* Page Style Omni Learning  and E-Learning Start*/
    #section2-omni-learning h3,
    #section2-e-learning h3 {
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
        font-size: 22px;
        margin-bottom: 1rem;
    }
    #section2-omni-learning .col-benefit {
        background-image: url(../img/banner-instructor.jpg);
        background-repeat: no-repeat;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        background-size: cover;
        padding-bottom: 2rem;
    }
    #section2-omni-learning .box-benefit-content h6,
    #section2-e-learning .box-benefit-content h6 {
        font-weight: bold;
        font-size: 13px;
    }
    #section2-omni-learning .box-benefit-content p,
    #section2-e-learning .box-benefit-content p {
        font-size: 12px;
    }
    #section3-omni-learning .card,
    #section3-e-learning .card {
        height: 450px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-right: 5px;
    }
    #section3-omni-learning h2,
    #section3-e-learning h2 {
        font-size: 18px;
        line-height: 27px;
        margin: 14px 0;
    }
    #section3-omni-learning h3,
    #section3-e-learning h3 {
        font-size: 15px;
        font-weight: bold;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
    }
    #section3-omni-learning p,
    #section3-e-learning p {
        font-size: 13px;
    }
    #section3-omni-learning .btn-outline-secondary,
    #section3-e-learning .btn-outline-secondary {
        min-width: max-content;
        min-height: 35px;
    }
    #section3-omni-learning h5,
    #section3-e-learning h5 {
        font-size: 18px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    #section3-omni-learning .text-center,
    #section3-e-learning .text-center {
        margin: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
    }
    /* Page Style Omni Learning End*/
    /* Page Style My Transaction Start*/
    #mytransaction-page .box-list-transaction {
        width: 100%;
        min-height: 180px;
        border: 2px solid #000;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #mytransaction-page .col-box-mytransaction {
        width: 100%;
    }
    #mytransaction-page .label-title {
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    #mytransaction-page .label-title h4 {
        font-size: 18px;
    }
    #mytransaction-page .label-title p {
        color: rgb(16, 30, 72);
        font-size: 14px;
    }
    #mytransaction-page.box-button {
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        float: left;
        margin-left: 5%;
    }
    #mytransaction-page .box-button {
        float: left;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #mytransaction-page .box-button .btn-print {
        width: 80%;
        text-align: center;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-weight: bold;
        border-radius: 10px;
        float: left;
        font-size: 13px;
        margin-left: 10%;
        margin-top: 3%;
    }
    #mytransaction-page .box-transaction {
        width: 90%;
        float: left;
        margin-left: 5%;
    }
    #mytransaction-page .box-list-content p {
        margin-top: 10px;
        line-height: 2;
        font-size: 13px;
    }
    #mytransaction-page .box-list-date .list-date {
        font-weight: bold;
        font-size: 12px;
        margin-top: -1rem;
        margin-left: 10%;
    }
    #mytransaction-page .box-list-date .list-time {
        float: left;
        margin-top: -10%;
        font-size: 13px;
        margin-left: 11%;
    }
    #mytransaction-page .box-list-date .btn-print {
        width: 110px;
        border-radius: .5rem;
        margin-top: 1.5rem;
        text-align: center;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-weight: bold;
        border-radius: 10px;
        font-size: 11px;
        margin-left: 15%;
    }
    /* Page Style My Transaction End*/
    /* Page Style Thank You Page Start */
    #section1-thank-you img {
        width: 40%;
        margin-top: 5%;
        margin-left: 30%;
    }
    .box-thank-content .label-title {
        text-align: center;
        font-size: 18px;
    }
    .box-thank-content p {
        text-align: center;
        line-height: 2.5;
        font-size: 17px;
    }
    /* Page Style Thank You Page End */
    /* Page Style My Certificate Start */
    #mycertificate-page .box-certificate {
        width: 90%;
        float: left;
        background-color: rgb(16, 30, 72);
        color: #fff;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    .box-certificate .image-logo {
        width: 30%;
        margin-left: 35%;
    }
    .label-btn-certificate {
        width: 90%;
        float: left;
        margin-left: 5%;
    }
    #mycertificate-page .btn-view-certificate {
        font-weight: bold;
        border-radius: 1rem;
        text-align: center;
        background-color: #EFAF0C;
        margin-left: 30%;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 40%;
        font-size: 17px;
    }
    /* Page Style My Certificate End */
    /* Page Style Change Password Start */
    #section1-mytransaction .box-account {
        width: 90%;
        margin: 5%;
    }
    /* Page Style Change Password End */
    /* Page Style Our Plans Start */
    #section1-our-plan {
        float: left;
        width: 100%;
    }
    .box-title-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .box-title-container h2 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    .box-title-container p {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    .box-title-container ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 0;
        margin-left: 5%;
        width: 90%;
    }
    .box-title-container ul li {
        display: inline-block;
        width: 30%;
    }
    .box-title-container ul li .btn-warning {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #EFEFEF;
        border-color: #EFEFEF;
        font-size: 14px;
    }
    .box-title-container ul li .btn-warning:focus {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:active {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-our-plan-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }
    .box-our-plan-container .our-plan-plan {
        float: left;
        width: 100%;
        height: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .plan-body {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(16, 30, 72);
        color: #fff;
        border-radius: 1rem;
        height: 250px;
        padding-top: 10%;
        position: relative;
    }
    .box-criteria {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-criteria .criteria-number {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-number h2 {
        float: left;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .box-criteria .criteria-info {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-info p {
        float: left;
        width: 100%;
        text-align: left;
        font-size: 14px;
    }
    .box-amount {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-amount .amount-price {
        float: left;
        width: 100%;
    }
    .box-amount .amount-price h1 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    .box-amount .amount-price sub {
        font-size: 13px;
    }
    .plan-body .box-description {
        float: left;
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .plan-body .box-description p {
        float: left;
        width: 90%;
        margin: 5%;
        font-size: 14px;
    }
    .plan-body .box-checkout {
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .plan-body .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-weight: bold;
        font-size: 14px;
    }
    /* Page Style Our Plans End */
    /* Page Learning Page Search All Start */
    .option-menu {
        font-size: 14px;
        padding-left: 10px;
    }
    .box-object-search .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
        padding-left: 5px;
    }
    .box-object-search .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        font-size: 12px;
    }
    .box-container-result {
        padding: 0 0 0 5px;
    }
    .courses .list-card {
        padding: 5px;
    }
    .box-container-result .box-card {
        float: left;
        width: 50%;
        padding: 5px;
    }
    .box-card .card {
        border-radius: .25rem;
        height: 380px;
    }
    .box-container-result .card-title {
        font-size: 16px;
    }
    .box-container-result .card-text {
        font-size: 14px;
    }
    .courses .list-card-img img {
        height: 130px;
    }
    /* Page Learning Page Search All End */
    /* ===========Style new homepage start============== */
    .new-container-inner {
        max-width: 569px;
        min-width: 569px;
    }
    .box-header-table {
        height: 70px;
    }
    .new-header .box-logo {
        width: 43%;
    }
    .box-cart .box-cart-count p {
        font-size: 1.1vmax;
    }
    /* ================================ */
    .box-method-container {
        padding: 20px 20px 60px 20px;
    }
    .box-method-title,
    .box-method-list {
        width: 100%;
    }
    .method-list-card {
        width: 105%;
        margin: 0 0 0 -2.5%;
    }
    .box-certification-container .method-list-card,
    .box-topic-container .method-list-card {
        width: 104%;
        margin: 0 0 0 -2%;
    }
    .box-title-img {
        width: 30%;
    }
    .flash-sale .box-title-img {
        width: 25%;
    }
    .box-title-img h3 {
        font-size: 2.8vmax;
    }
    .box-title-desc {
        padding: 40px 0 0 0;
    }
    .box-title-desc p,
    .box-link-more a {
        font-size: 1.8vmax;
    }
    .card-desc-title {
        height: auto;
    }
    .new-homepage .list-card-img img,
    .list-card-img img {
        height: 180px;
    }
    .list-card {
        width: 50%;
        padding: 5px 10px;
    }
    .list-card-inner,
    .box-omni-detail .list-card-inner {
        height: 515px;
    }
    .box-btn-group {
        margin: 0 0 15px -3px;
    }
    .box-btn-group .btn-warning {
        margin: 5px 2.5px;
        font-size: 1.4vmax;
    }
    .box-certification-container .prevArrowBtn,
    .box-topic-container .prevArrowBtn {
        right: 40px;
        padding: 2px 8px;
    }
    .box-certification-container .nextArrowBtn,
    .box-topic-container .nextArrowBtn {
        right: 7px;
        padding: 2px 8px;
    }
    .box-certification-container .nextArrowBtn img,
    .box-topic-container .nextArrowBtn img {
        width: 8px;
        height: 8px;
    }
    .box-certification-container .prevArrowBtn img,
    .box-topic-container .prevArrowBtn img {
        width: 8px;
        height: 8px;
    }
    .box-btn .btn-warning {
        font-size: 1.3vmax;
    }
    /* ===========Style new homepage end============== */
    .box-pembelajaranku .box-method-container {
        padding: 20px 20px 60px 20px;
    }
    .box-pembelajaranku-category {
        width: 100%;
        margin: 0;
        padding: 0 22px;
    }
    .pembelajaranku-category {
        width: 50%;
        padding: 12px;
    }
    .box-nav-cart {
        width: 549px;
        padding: 4.5px 11px;
    }
    .box-cart-action {
        width: 32%;
    }
    .box-cart-action .btn-outline-light {
        font-size: 0;
    }
    .box-cart-action .btn-warning {
        font-size: 14px;
    }
    .box-share p {
        font-size: 12px;
        line-height: 1;
        margin: 0 0 0px 6px;
    }
    .box-share-icon .share-icon {
        margin: 0 6px;
    }
    .box-share .share-icon img {
        width: 25px;
        height: 25px;
    }
    .box-training-banner {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }
    .training-banner-image {
        margin: 0;
        width: 100%;
    }
    .training-banner-thumbnail {
        width: 100%;
        min-width: 100%;
    }
    .training-banner-image img,
    .training-banner-thumbnail img {
        height: 193px;
        margin: 5px 0;
    }
    .box-navigation-rating {
        flex-wrap: wrap;
        justify-content: start;
    }
    .box-rating {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 5px 14px;
    }
    .modal-video-view .modal-dialog {
        max-width: 569px;
    }
    .shoping-cart-list .list-group-item {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .box-cart-image {
        max-width: 100%;
        margin: 0;
    }
    .box-cart-description {
        width: 100%;
        padding: 0 0 0 2.2rem;
    }
    .shoping-cart-summary {
        width: 100%;
        max-width: 100%;
    }
    .box-nav-back {
        display: none;
    }
    .box-nav-back.mobile {
        margin: 24px 0 0 0;
        display: block;
    }
    .box-nav-back .btn-outline-dark {
        position: relative;
    }
    .back-history {
        display: none;
    }
    .back-history.mobile {
        position: relative;
        width: 100%;
        text-align: center;
        display: block;
    }
    .container-search {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .container-result {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .courses .card-desc-label {
        font-size: 12px;
    }
    .courses .card-desc-title {
        font-size: 16px;
        line-height: 21px;
    }
    .courses .card-desc-description {
        font-size: 13px;
    }
    .courses .list-card-inner {
        height: 420px;
    }
    .courses .box-btn .btn-warning {
        font-size: 13px;
    }
    .slick-dots {
        bottom: 0px;
    }
    .slick-dots li button:before {
        font-size: 7px !important;
    }
    .add-info .info-desc,
    .add-info .info-see {
        width: 100%;
    }
    .section1-thank-you {
        padding: 0 15px;
    }
    .checkout-cart .shoping-cart-summary {
        max-height: 320px;
    }
    .box-cart-description {
        padding: 10px 0 0;
    }
    .box-training-details .img-desc {
        padding: 0 14px;
    }
    .slide-certification .slick-dots {
        bottom: -25px;
    }
    #section1-thank-you h2 {
        font-size: 21px;
        line-height: 28px;
    }
    .back-history {
        top: 55px;
    }
    #section1-thank-you h5 {
        font-size: 15px;
        line-height: 21px;
    }
    #section1-thank-you p {
        font-size: 14px;
    }
    #section1-thank-you .mt-3 {
        margin-top: 0 !important;
    }
    .box-activity-selling-omni .selling-activity {
        width: 50%;
        margin: 0 0 14px 0;
    }
}

@media screen and (max-width: 600px) {
    .container-search {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .box-object-menu ul {
        width: 100%;
        margin: 0;
        padding: 10px 20px;
    }
    .courses .list-card {
        padding: 7.5px;
    }
    .courses .list-card-img img,
    #learning-page-all .list-card-img img {
        height: 190px;
    }
    .box-container-result {
        width: 102.6%;
        margin: 0 0 0 -1.3%;
        padding: 0;
    }
    .box-object-menu {
        float: left;
        width: 50%;
    }
    .box-object-menu ul li {
        list-style: none;
        margin-left: -20px;
    }
    .box-container-result .box-card {
        float: left;
        width: 50%;
        padding: 10px;
    }
    .box-card .card {
        height: 350px !important;
    }
    .box-card .card-title {
        font-size: 16px;
    }
    .box-card .card-text {
        font-size: 14px;
    }
    .box-navigation #myBtn {
        bottom: 2.5rem;
        right: 2rem;
    }
}

@media screen and (max-width: 568px) {
    /* Page Style Register Start */
    .box-register {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        min-height: 568px;
        height: 100vh;
        padding: 0px;
    }
    .box-register-middle {
        display: table-cell;
        vertical-align: middle;
        height: 100vh;
        min-height: 568px;
    }
    /* Pre Register Start */
    .box-pre-regiter {
        margin-bottom: 0rem;
    }
    .box-pre-regiter,
    .pre-register-container {
        width: 300px;
    }
    .pre-register-img {
        height: 200px;
    }
    .pre-register-container {
        padding: 20px;
    }
    .box-pre-register-form {
        min-height: 200px;
        margin-top: 2rem;
    }
    /* Pre Register End */
    .box-register-container {
        width: 400px;
        padding: 25px;
    }
    .box-register h3 {
        font-size: 18px;
    }
    .box-register .account {
        font-size: 14px;
    }
    .box-content-register .form-control {
        background-color: #d9d2d2;
        display: block;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .form-group {
        margin-bottom: .5rem;
    }
    .box-register-form .custom-checkbox {
        margin-top: 1rem;
        font-size: 14px;
    }
    .form-register .btn-register {
        font-size: 12px;
        border-radius: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
        font-size: 10px;
    }
    .box-content-register h3 {
        text-align: center;
        font-size: 14px;
    }
    /* Page Style Login */
    .login-container {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        min-height: 568px;
        height: 100vh;
        padding: 25px;
    }
    .box-login-container {
        width: 400px;
    }
    .box-login .box-link-register {
        padding: 15px;
    }
    .box-login h2 {
        font-weight: normal;
        font-size: 17px;
        color: #fff;
    }
    .box-link-register #button-register {
        width: 60%;
        border-radius: 1rem;
        font-weight: bold;
        margin-top: 25px;
        font-size: 12px;
    }
    .box-content-login h3 {
        font-weight: bold;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 18px;
    }
    .box-content-login .btn-warning {
        font-weight: bold;
        color: rgb(16, 30, 72);
        border-radius: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 12px;
    }
    #bottom-login {
        margin-top: 2rem;
    }
    /* Page Style Forgot Password  Start*/
    .box-forgot-password {
        min-height: 500px;
    }
    .box-forgot-middle {
        min-height: 568px;
    }
    .box-forgot {
        width: 100%;
        min-width: 310px;
        min-height: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-forgot-mobile {
        min-height: 530px !important;
    }
    .box-forgot-confirm {
        width: 100%;
        min-width: 310px;
        min-height: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-register-image img {
        width: 130px;
    }
    .box-forgot h3,
    .box-forgot-confirm h3 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 16px;
    }
    .box-forgot p,
    .box-forgot-confirm p {
        text-align: center;
        font-size: 13px;
    }
    .box-forgot-form {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .box-content-forgot .form-control {
        font-size: 14px;
    }
    #bottom-forgot .btn-warning {
        font-size: 11px;
    }
    /* Page Style Forgot Password  End*/
    /* Page Style Header Start */
    .section-header .box-togleM .btn {
        padding: 0;
    }
    .section-header {
        height: 70px;
    }
    .box-header {
        width: 100%;
        float: left;
        padding-top: .5rem;
    }
    .new-header .box-action a {
        padding: 0;
    }
    .section-header .box-icon-collapse {
        float: left;
        width: 90%;
        padding-left: 0;
    }
    .box-togleM #sidebarCollapse {
        float: left;
        margin-left: 0;
    }
    .section-header .box-togleM p {
        color: #fff;
        float: left;
        margin-top: 1.2rem;
        display: none;
    }
    .section-header .box-logoM {
        float: left;
        width: 70%;
    }
    .section-header #logo {
        float: left;
        width: 100%;
    }
    .section-header .box-logoM img {
        float: left;
        margin-left: 30%;
        width: 40%;
    }
    .section-header .title-menu {
        float: left;
        width: 100%;
    }
    .public-title-menu h3 {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-top: .1rem;
    }
    .section-header .box-subsribe {
        float: left;
        width: 15%;
        display: none;
    }
    .box-subsribe .btn-warning {
        font-weight: bold;
        font-size: 10px;
        margin-left: -2rem;
        padding: .3rem;
    }
    .public-title-menu {
        float: left;
        width: 100%;
        padding-top: .2rem;
        display: contents;
    }
    /* Page Style Sidebar Start */
    .box-subscribe {
        display: none;
    }
    .active-mobile {
        display: block;
    }
    ul ul a {
        font-size: 0.9em !important;
        background: #fff;
    }
    .active-mobile .fa-angle-down {
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .active-mobile .fa-angle-down:hover {
        -webkit-transition: all .25s 0s;
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .side-title {
        width: 90%;
        margin-left: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #fff;
        /* border-bottom: 1px solid #fff; */
    }
    .side-title:hover {
        color: rgb(16, 30, 72);
        background: #fff;
    }
    .mCSB_container {
        position: inherit !important;
    }
    .sidebar-header-login .chek-in {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }
    .sidebar-header-login .chek-in h5 {
        color: #ffffff;
        font-size: 15px;
    }
    .sidebar-header-login .chek-in p {
        color: #ffffff;
        font-size: .9em;
    }
    .section-header .box-fluid {
        float: left;
        width: 12%;
        margin-left: 4%;
        margin-top: 1rem;
    }
    .chek-in .btn-outline-warning {
        border-radius: 1.2rem;
        font-size: .7em;
        font-weight: bold;
        min-width: 90px;
        color: #ffffff;
    }
    .side-title h5 {
        font-weight: bold;
        font-size: 1em;
    }
    /* Page Style Sidebar Start */
    #content {
        min-height: 80vh;
        margin-top: 69px;
    }
    #sidebar .sidebar-header-login {
        display: none;
        padding: 20px;
        background: rgb(16, 30, 72);
        min-height: 200px;
    }
    .svg-inline--fa.fa-w-16 {
        width: .7em;
    }
    .sidebar-header-login .chek-in p {
        color: #ffffff;
        font-size: 13px;
    }
    .chek-in .btn-outline-warning {
        border-radius: 1.2rem;
        font-size: .7em;
        font-weight: bold;
        min-width: 80px;
        color: #ffffff;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    /* Page Style Sidebar End */
    /* Page Style Homepage Start */
    .left-point-image {
        width: 120px;
        height: 120px;
    }
    .right-point-image {
        width: 100px;
        height: 100px;
    }
    .left-point-number {
        width: 28px;
        height: 26px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
    .right-point-number {
        margin-right: 15px;
        width: 28px;
        height: 26px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
    .left-point-title {
        width: 108px;
        height: 26px;
    }
    .right-point-title {
        width: 150px;
        height: 26px;
    }
    .left-point-desc {
        top: 60px;
        width: 155px;
    }
    .right-point-desc {
        top: 60px;
        width: 150px;
    }
    #section2 .box-points {
        width: 100%;
        padding-left: 0%;
    }
    #section2 h2 {
        font-size: 17px;
        font-weight: bold;
        margin-left: 5%;
        width: 90%;
        margin-top: 2%;
    }
    #section2 p {
        font-size: 13px;
    }
    .points-content-number {
        border-style: solid;
        border-color: rgb(10, 10, 10);
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 6rem;
        text-align: center;
        position: absolute;
    }
    .points-content-number .point-number {
        font-size: 1.2em;
        font-weight: bold;
        width: 80%;
        margin: 10%;
    }
    .points-content-body {
        width: 100%;
        float: left;
        padding-left: 50px;
    }
    #section2 h3 {
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
    }
    #section3 h2 {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }
    .box-learning .box-learning-content {
        float: left;
        width: 100%;
        padding: 3%;
    }
    .product-list-fade-effect .product-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(185, 186, 192, 0.8);
        color: #fff;
        top: 0%;
        left: 0%;
        opacity: 0;
        transition-duration: 0.4s;
        padding-left: 3%;
        padding-right: 3%;
    }
    .product-overlay img {
        margin-top: 5%;
        width: 20%;
        margin-left: 40%;
    }
    .product-overlay p {
        font-size: 13px;
        text-align: center;
    }
    .product-overlay .btn-outline-secondary {
        border-radius: 1rem;
        font-weight: bold;
        border: 2px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
        border-color: #fff;
        margin-top: 1%;
        width: 50%;
        margin-left: 25%;
        font-size: 14px;
        padding: .2rem;
    }
    #section3 h3 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-top: 3%;
    }
    #section3 h4 {
        font-size: 14px;
        text-align: center;
    }
    #section4 h2 {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }
    #section4 .box-course {
        width: 100%;
        float: left;
        margin-left: 0;
    }
    .box-course .box-course-content-bottom {
        float: left;
        width: 90%;
        display: grid;
        margin-left: 5%;
    }
    #section4 .btn-outline-secondary {
        border-radius: 1rem;
        border: none;
        min-width: 30%;
        min-height: 35px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: rgb(247, 244, 244);
        font-size: 10px;
        padding: 2px;
    }
    .box-course .box-course-content {
        float: left;
        width: 90%;
        margin-left: 5%;
        padding-left: 0;
    }
    .sliderCourses {
        float: left;
        width: 100%;
        margin-left: 0;
    }
    #section4 .card-deck {
        width: 100%;
        display: inline-block;
        padding: 1%;
        margin-left: 0;
        margin-right: 0;
    }
    #section4 .card {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 450px;
    }
    #section4 h3 {
        font-size: 15px;
        margin-bottom: 1rem;
    }
    #section4 h5 {
        float: left;
        width: 80%;
        font-size: 14px;
        text-align: center;
        margin-left: 10%;
    }
    #section4 p {
        font-size: 14px;
    }
    #section5 {
        margin: 50px 0;
    }
    #section5 h2 {
        font-size: 17px;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
    }
    .instructor-comming {
        height: 500px;
    }
    #section5 .btn-outline-secondary {
        border-radius: 1rem;
        border: none;
        min-width: 30%;
        min-height: 35px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: rgb(247, 244, 244);
        font-size: 10px;
        padding: 2px;
    }
    .box-instructor .box-instructor-content-bottom {
        float: left;
        width: 90%;
        display: grid;
        margin-left: 5%;
    }
    .box-instructor .box-instructor-content {
        float: left;
        width: 90%;
        margin-left: 5%;
        padding-left: 0;
    }
    #section5 .card-deck {
        width: 100%;
        display: inline-block;
        padding: 1%;
    }
    #section5 .card {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 450px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #section5 h5 {
        float: left;
        width: 80%;
        font-size: 14px;
        text-align: center;
        margin-left: 10%;
    }
    #section5 p {
        font-size: 14px;
    }
    #section5 h3 {
        font-size: 15px;
        margin-bottom: 1rem;
    }
    .title-instructor {
        font-weight: bold;
        font-size: 14px;
    }
    .new-header .box-icon {
        padding: 21px 10px;
    }
    .new-header .box-cart {
        padding: 18px 24px 17px 14px;
    }
    /* Page Style Footer Start */
    .box-middle-object {
        height: auto;
    }
    .box-image-info .box-logo {
        width: 100%;
        height: fit-content;
        padding: 0 24px;
    }
    .box-image-info .box-logo img {
        width: 38.84%;
        margin: 0;
        vertical-align: middle;
    }
    .box-image-info .box-info-container {
        width: 100%;
        padding: 0 24px;
    }
    #footer .box-image-info {
        padding: 0 0 65px 0;
    }
    #footer .box-info {
        height: 30px;
        line-height: 30px;
        text-align: start;
    }
    #footer .box-info.tnc {
        width: 100%;
    }
    #footer .box-info p {
        font-size: 14px;
        margin: 0;
    }
    #footer .link-info {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
        font-size: 12px;
    }
    #footer .box-media-container {
        float: right;
        width: 60%;
    }
    .box-media .media-image {
        float: left;
        width: 30%;
        height: 50px;
        line-height: 50px;
    }
    .box-media .media-image img {
        width: 30%;
        margin-left: 25%;
        margin-right: 25%;
        vertical-align: middle;
    }
    #footer .box-media {
        float: left;
        width: 100%;
    }
    .box-media .media-text {
        float: left;
        width: 70%;
        height: 50px;
        line-height: 50px;
    }
    #footer .box-media p {
        color: #fff;
        float: left;
        width: 70%;
        font-size: 12px;
        vertical-align: middle;
    }
    .box-navigation img {
        width: 10%;
    }
    .label-navigation {
        position: absolute;
        right: 4.5rem;
        top: 4.5rem;
        display: none;
    }
    .box-navigation #myBtn {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(25, 66, 170);
        color: white;
        cursor: pointer;
        padding: 0px;
        width: 45px;
    }
    /* Page Style My Account Start */
    #section1-account .myprofile-picture {
        width: 100%;
        margin-top: 2rem;
    }
    #section1-account .myprofile-picture img {
        max-width: 50%;
        margin-left: 25%;
    }
    #section1-account .label-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
        margin-left: 2rem;
    }
    #section1-account .label-title h4 {
        font-size: 17px;
        font-weight: bold;
    }
    #section1-account .label-detail h5 {
        font-size: 14px;
    }
    #section1-account .label-detail {
        margin-left: 2rem;
    }
    #section1-account .label-detail p {
        font-size: 14px;
        color: rgb(16, 30, 72);
    }
    #section1-account .label-bottom {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
    #edit-profile-page .label-bottom {
        width: 70%;
        float: left;
        margin-left: 15%;
    }
    #section1-account .btn-warning {
        border-radius: 1.2rem;
        font-weight: bold;
        width: 150px;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        font-size: 13px;
    }
    #edit-profile-page .box-account {
        width: 80%;
        float: left;
        margin-top: 1rem;
    }
    #edit-profile-page .button-change-password {
        border-radius: 1.2rem;
        font-weight: bold;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        float: right;
        width: 100%;
        margin-right: 0;
        font-size: 16px;
    }
    #changepassword-page .box-account {
        width: 80%;
        float: left;
        margin-top: 1rem;
        margin-left: 5%;
    }
    #mycourse-page .label-title {
        width: 85%;
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-weight: bold;
        color: rgb(16, 30, 72);
        margin-left: 2rem;
        float: left;
    }
    #mycourse-page .label-title h4 {
        float: left;
        margin-right: 2rem;
        font-size: 15px;
    }
    #mycourse-page .label-title p {
        color: rgb(16, 30, 72);
        font-size: 13px;
    }
    #mycourse-page .card-deck {
        width: 80%;
        float: left;
        margin-left: 10%;
    }
    #mycourse-page .card {
        min-height: 400px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    #mycourse-page .card-body h3 {
        font-size: 14px;
    }
    #mycourse-page .card-body p {
        font-size: 13px;
    }
    #mycertificate-page .box-certificate {
        width: 90%;
        float: left;
        background-color: rgb(16, 30, 72);
        color: #fff;
        padding: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    .box-certificate .image-logo {
        width: 30%;
        margin-left: 35%;
    }
    #mycertificate-page .box-certificate h3 {
        text-align: center;
        margin-top: 3%;
        font-weight: bold;
        font-size: 13px;
    }
    .box-certificate .image-user {
        width: 20%;
        margin-left: 40%;
        margin-top: 3%;
    }
    #mycertificate-page .box-certificate h1 {
        text-align: center;
        font-weight: bold;
        margin-top: 3%;
        font-size: 13px;
    }
    #mycertificate-page .box-certificate p {
        text-align: center;
        font-size: 10px;
        color: #fff;
    }
    #mycertificate-page .box-certificate h6 {
        text-align: center;
        margin-top: 3%;
        font-size: 11px;
    }
    .label-btn-certificate {
        width: 90%;
        float: left;
        margin-left: 5%;
        margin-bottom: 2rem;
    }
    #mycertificate-page .btn-view-certificate {
        font-weight: bold;
        border-radius: 1rem;
        text-align: center;
        background-color: #EFAF0C;
        margin-left: 25%;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 50%;
        font-size: 15px;
    }
    #mytransaction-page .label-title {
        width: 90%;
        margin-left: 10%;
        margin-top: 10%;
    }
    #mytransaction-page .label-title h4 {
        font-size: 18px;
    }
    #mytransaction-page .box-button {
        float: left;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: 0;
    }
    #mytransaction-page .box-button .btn-print {
        width: 80%;
        text-align: center;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-weight: bold;
        border-radius: 10px;
        float: left;
        font-size: 13px;
        margin-left: 10%;
        margin-top: 3%;
    }
    #mytransaction-page .box-transaction {
        width: 90%;
        float: left;
        margin-left: 5%;
    }
    #mytransaction-page .box-list-transaction {
        width: 100%;
        min-height: 180px;
        border: 2px solid #000;
        border-radius: 1rem;
        padding: .5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #mytransaction-page .box-list-content {
        float: left;
        width: 60%;
    }
    #mytransaction-page .box-list-content p {
        margin-top: 10px;
        line-height: 2;
        font-size: 13px;
    }
    #mytransaction-page .box-list-date {
        float: left;
        width: 40%;
        padding: 1px;
        height: 170px;
    }
    #mytransaction-page .box-list-date .list-date {
        font-weight: bold;
        font-size: 12px;
        margin-top: -5px;
        margin-left: 10%;
    }
    #mytransaction-page .box-list-date .btn-print {
        width: 100px;
        text-align: center;
        background-color: #EFAF0C;
        color: rgb(16, 30, 72);
        font-weight: bold;
        border-radius: 10px;
        margin-top: 50%;
        font-size: 12px;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    /* Page Style Omni Learning  and E-Learning Start*/
    #section2-omni-learning h3,
    #section2-e-learning h3 {
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
        font-size: 16px;
        margin-bottom: 1rem;
    }
    .box-benefit {
        width: 100%;
        margin-left: 0;
        float: left;
    }
    .box-container-learning {
        padding: 10px 0;
    }
    #section2-omni-learning .box-benefit-content,
    #section2-e-learning .box-benefit-content {
        width: 80%;
        min-height: 250px;
        max-height: 100%;
        padding: 10px;
        margin: 10px 0;
    }
    #section2 img {
        height: 481px;
    }
    #section2-omni-learning .box-benefit-content h6,
    #section2-e-learning .box-benefit-content h6 {
        font-weight: bold;
        font-size: 17px;
    }
    #section2-omni-learning .box-benefit-content p,
    #section2-e-learning .box-benefit-content p {
        font-size: 13px;
    }
    #section3-omni-learning h2,
    #section3-e-learning h2 {
        font-size: 18px;
    }
    .sliderCourses .card-deck {
        float: left;
        margin-right: 0;
        margin-bottom: 3%;
    }
    #section3-omni-learning .card,
    #section3-e-learning .card {
        min-height: 300px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    #section3-omni-learning h5,
    #section3-e-learning h5 {
        font-size: 15px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    /* Style Personal Selling Start */
    #section2-decription-selling {
        float: left;
        width: 100%;
        padding-top: 1rem;
    }
    .box-activity-selling-omni .selling-activity {
        float: left;
        width: 100%;
    }
    .box-activity-selling-omni {
        padding: 0 10px;
    }
    .selling-activity .icon {
        width: 10%;
        height: 49px;
    }
    .selling-desc h5 {
        font-size: 12px;
        padding-top: .7rem;
    }
    .box-activity-selling-elearning {
        width: 100%;
        float: left;
        padding-left: 2%;
    }
    .selling-activity-left {
        float: left;
        width: 50%;
    }
    .selling-activity-right {
        float: left;
        width: 50%;
    }
    .selling-activity-left .icon {
        float: left;
        width: 20%;
        height: 30px;
    }
    .selling-activity-right .icon {
        float: left;
        width: 20%;
        margin-left: 0%;
    }
    .selling-activity-left .icon img,
    .selling-activity-right .icon img {
        float: left;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: .5rem;
    }
    .selling-activity-left .selling-desc,
    .selling-activity-right .selling-desc {
        float: left;
        width: 80% !important;
        margin-left: 0 !important;
    }
    #section2-decription-selling .column-description p {
        color: #000;
        font-size: 12px;
    }
    #section2-decription-selling .box-payment-selling h3 {
        text-align: center;
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 18px;
    }
    #section2-decription-selling .box-payment-selling h6 {
        text-align: center;
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 14px;
    }
    #section2-decription-selling .box-payment-selling h1 {
        text-align: center;
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 20px;
    }
    .box-payment-selling .btn-warning {
        margin-top: 2rem;
        font-weight: bold;
        border-radius: 1rem;
        text-align: center;
        background-color: #EFAF0C;
        width: 30%;
        padding-left: 10px;
        margin-bottom: 2rem;
        float: left;
        margin-left: 35%;
        font-size: 12px;
    }
    .dataTables_length label,
    .column-description ul li,
    .column-learn .btn-warning {
        font-size: 12px;
    }
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        font-size: 12px !important;
    }
    /* Page Style Our Plans Start */
    #section1-our-plan {
        float: left;
        width: 100%;
    }
    .box-title-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .box-title-container h2 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
    .box-title-container p {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 13px;
    }
    .box-title-container ol,
    ul,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 0;
        margin-left: 0;
    }
    .box-title-container ul li {
        display: inline-block;
        width: 30%;
    }
    .box-title-container ul li .btn-warning {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        background-color: #EFEFEF;
        border-color: #EFEFEF;
        font-size: 12px;
    }
    .box-title-container ul li .btn-warning:focus {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-title-container ul li .btn-warning:active {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1rem;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .box-our-plan-container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        margin-top: 0;
    }
    .box-our-plan-container .our-plan-plan {
        float: left;
        width: 250px;
        height: 250px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .plan-body {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(16, 30, 72);
        color: #fff;
        border-radius: 1rem;
        font-size: 25px;
        height: 250px;
        padding-top: 10%;
        position: relative;
    }
    .box-criteria {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-criteria .criteria-number {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-number h2 {
        float: left;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #fff;
    }
    .box-criteria .criteria-info {
        float: left;
        width: 100%;
    }
    .box-criteria .criteria-info p {
        float: left;
        width: 100%;
        text-align: left;
        color: #fff;
    }
    .box-amount {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box-amount .amount-price {
        float: left;
        width: 100%;
    }
    .box-amount .amount-price h1 {
        float: left;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    .box-amount .amount-price sub {
        font-size: 13px;
    }
    .plan-body .box-description {
        float: left;
        width: 80%;
        margin: 10%;
        text-align: center;
    }
    .plan-body .box-description p {
        float: left;
        width: 90%;
        margin: 5%;
        font-size: 14px;
        color: #fff;
    }
    .plan-body .box-checkout {
        float: left;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .plan-body .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-weight: bold;
        font-size: 14px;
    }
    /* Page Style Our Plans End */
    #section2-decription-selling .column-description {
        overflow-x: overlay;
    }
    .column-description table {
        width: 435px !important;
        font-size: 14px;
    }
    .column-description ul li {
        font-size: 12px;
    }
    .dataTables_wrapper {
        overflow-x: overlay !important;
    }
    .dataTables_wrapper .dataTable {
        width: max-content;
        font-size: 14px;
    }
    .odd .table td,
    .odd .table th {
        font-size: 14px;
    }
    /* ===========Style new homepage start============== */
    .new-container-inner {
        max-width: 481px;
        min-width: auto;
    }
    .box-header-table {
        height: 70px;
    }
    .new-header .box-logo {
        width: 54%;
    }
    .box-method-container {
        padding: 18px 14px 50px 14px;
    }
    .method-list-card {
        width: 103%;
        margin: 0 0 0 -1.5%;
    }
    .box-title-img {
        width: 52%;
    }
    .flash-sale .box-title-img {
        width: 35%;
    }
    .box-title-img h3 {
        font-size: 2.4vmax;
        margin: 0 0 15px;
    }
    .card-desc-label {
        font-size: 10px;
    }
    .box-title-desc p,
    .box-link-more a {
        font-size: 1.7vmax;
    }
    .new-homepage .list-card-img img,
    .list-card-img img {
        height: 160px;
    }
    .list-card {
        width: 50%;
        padding: 5px 5px;
    }
    .list-card-inner,
    .box-related-product .list-card-inner {
        height: 530px;
    }
    .box-omni-detail .list-card-inner {
        height: 515px;
    }
    #learning-page-all .courses .list-card-inner {
        height: 470px;
    }
    .card-desc-description {
        font-size: 12px;
    }
    .section-header .box-togleM {
        padding: 20px 18px;
    }
    .box-btn-group {
        margin: 0 0 15px -3px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .box-certification-container .method-list-card,
    .box-topic-container .method-list-card {
        margin: 0 0 0 -1.8%;
    }
    .box-certification-container .nextArrowBtn,
    .box-certification-container .prevArrowBtn,
    .box-topic-container .nextArrowBtn,
    .box-topic-container .prevArrowBtn {
        bottom: -34px;
    }
    .box-certification-container .prevArrowBtn,
    .box-topic-container .prevArrowBtn {
        right: 40px;
        padding: 2px 8px;
    }
    .box-certification-container .nextArrowBtn,
    .box-topic-container .nextArrowBtn {
        right: 7px;
        padding: 2px 8px;
    }
    .box-certification-container .nextArrowBtn img,
    .box-topic-container .nextArrowBtn img {
        width: 8px;
        height: 8px;
    }
    .box-certification-container .prevArrowBtn img,
    .box-topic-container .prevArrowBtn img {
        width: 8px;
        height: 8px;
    }
    .box-btn .btn-warning {
        font-size: 1.3vmax;
    }
    /* ===========Style new homepage end============== */
    .box-related-product .card-desc-title {
        font-size: 14px;
        line-height: 21px;
    }
    .box-related-product .card-desc-description {
        font-size: 12px;
        line-height: 18px;
    }
    .box-cart-action {
        width: 38%;
    }
    .box-nav-cart {
        width: 461px;
    }
    .modal-video-view .modal-dialog {
        max-width: 481px;
    }
    .ticket-label {
        width: 250px;
    }
}

@media screen and (max-width:480px) {
    .new-container-inner {
        max-width: 375px;
        min-width: auto;
    }
    #section2 img {
        height: 375px;
    }
    /* Page Learning Page Search All Start */
    .container-search {
        float: left;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    }
    .box-object-menu {
        float: left;
        width: 100%;
    }
    .container-result {
        float: left;
        width: 100%;
    }
    .box-container-result {
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .box-container-result .box-card {
        float: left;
        width: 90%;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-left: 5%;
    }
    .box-card .card {
        height: 420px;
    }
    .box-card .card-title {
        font-size: 16px;
    }
    .box-card .card-text {
        font-size: 14px;
    }
    .box-omni-detail .list-card-inner {
        height: 575px;
    }
    /* Page Learning Page Search All End */
    .box-navigation #myBtn {
        position: fixed;
        width: 40px;
        bottom: 2rem;
        right: 1rem;
    }
    .column-description table {
        width: 520px !important;
        font-size: 14px;
    }
    .column-description ul li {
        font-size: 12px;
    }
    .dataTables_wrapper {
        overflow-x: overlay !important;
    }
    .dataTables_wrapper .dataTable {
        width: max-content;
        font-size: 14px;
    }
    .odd .table td,
    .odd .table th {
        font-size: 14px;
    }
    .pembelajaranku-category {
        width: 100%;
        padding: 11.5px;
    }
    .box-cart-action {
        width: 60%;
    }
    .box-cart-description p {
        font-size: 12px;
        line-height: 18px;
    }
    .box-cart-description h5 {
        font-size: 16px;
        line-height: 24px;
    }
    .box-value-category,
    .box-value-qty {
        width: 50%;
    }
    .box-value-add {
        width: 100%;
    }
    #learning-page-all .list-card-img img,
    .courses .list-card-img img {
        height: 130px;
    }
    .courses .card-desc-title {
        font-size: 14px;
        line-height: 18px;
        min-height: 35px;
    }
    .courses .list-card-inner {
        height: 452px;
    }
    .courses .list-card {
        padding: 5px;
    }
    .box-container-result {
        width: 102.6%;
        margin: 0 0 0 -1%;
        padding: 0;
    }
    .list-assign-ticket {
        padding: 10px;
    }
    .box-assign-ticket h4 {
        font-size: 18px;
    }
    .assign-ticket-image img {
        height: 110px;
    }
    .box-ticket {
        flex-wrap: wrap;
    }
    .ticket-label {
        width: 100%;
    }
    .box-assign-ticket h3 {
        font-size: 18px;
        line-height: 26px;
    }
    .ticket-button {
        position: relative;
        right: 0;
    }
    .ticket-button-text {
        justify-content: flex-start;
    }
    .new-homepage .list-card-img img,
    .list-card-img img {
        height: 130px;
    }
    .card-desc-title {
        font-size: 14px;
    }
    .box-register-form .form-group {
        margin: 0 0 10px 0;
    }
    .box-register-container {
        width: 300px;
        padding: 15px;
    }
    hr {
        margin: 5px 0;
    }
    .box-login-container {
        width: 300px;
    }
    .box-nav-cart {
        width: 355px;
    }
    #footer .box-info {
        width: 33%;
    }
}