.width-100,
.width-50,
.width-40,
.width-33,
.width-20 {
    float: left;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-33 {
    width: 33.333%;
}

.width-20 {
    width: 20%;
}

.flex-start,
.flex-center,
.flex-end,
.flex-between,
.flex-wrap-center,
.flex-wrap-between {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-wrap-center {
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrap-between {
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.img-cover {
    object-fit: cover;
    object-position: center;
}

.img-contain {
    object-fit: contain;
    object-position: center;
}

.new-container {
    display: flex;
    justify-content: center;
}

.new-container-inner {
    display: flex;
    flex-wrap: wrap;
    width: 67.788%;
    max-width: 1290px;
    min-width: 1290px;
}

.conference {
    min-height: 100vh;
    background: #09508E;
}

.conference-auth {
    padding: 50px;
}

.img-logo img {
    max-width: 22%;
    margin: 0 0 50px;
}

.img-text img {
    max-width: 40%;
    margin: 0 0 50px;
}

.form-conference .width-50 {
    max-width: 48.5%;
}

.form-input {
    position: relative;
    display: table;
    height: 380px;
}

.form-table {
    display: table-cell;
    vertical-align: middle;
}

.form-input .btn-action {
    position: relative;
    margin: 20px 0 0;
}

.btn-action a:hover {
    color: #ea2190;
}

.login .input100 {
    padding: 0 20px 0 160px;
}

.form-input .symbol-input100 {
    font-size: 15px;
    padding-left: 20px;
}

.register .input100 {
    padding: 0 20px 0 215px;
}

.line-horizontal {
    opacity: 0.25;
    border-top: 1px solid #FFFFFF;
}

.btn-action p {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin: 50px 0 24px;
}

.intro-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.intro-video video {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}

.box-btn-skip {
    position: absolute;
    padding: 0 10%;
    z-index: 2;
    bottom: 15%;
}

.box-btn-skip .btn-outline-secondary {
    font-family: Montserrat-Medium;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
}

.box-btn-skip .btn-outline-secondary:hover {
    background-color: transparent;
    border-color: #868e96;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.preload {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

.airplane {
    position: relative;
    z-index: 1;
    height: 200px;
}

.preload-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#btn-sound {
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 50px;
}

.sound-mute,
.sound-on {
    width: 55px;
    height: 55px;
}

.sound-on {
    display: none;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes clouds {
    from {
        right: 0%;
    }
    to {
        right: 130%;
    }
}

@media screen and (max-width: 1025px) {
    .intro-video {
        height: max-content;
    }
}

@media screen and (max-width: 1289px) {
    .new-container-inner {
        width: 100%;
        max-width: 768px;
        min-width: 768px;
    }
    .img-logo img {
        max-width: 50%;
    }
    .img-text img {
        max-width: 88%;
    }
    .form-conference .width-50 {
        width: 100%;
        max-width: 100%;
    }
    .form-input {
        height: 440px;
        padding: 70px 0 0;
    }
    .form-table {
        vertical-align: top;
    }
    .login100-form-btn {
        font-size: 34px;
        padding: 0 50px;
    }
    .login100-form-btn {
        font-size: 29px;
        padding: 0 35px;
    }
    .form-input.register .btn-action {
        margin: 25px 0 0;
    }
    .airplane {
        height: 130px;
    }
    .sound-mute,
    .sound-on {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 767px) {
    .new-container-inner {
        max-width: 569px;
        min-width: 569px;
    }
    .form-input {
        padding: 50px 0 0;
    }
    .form-input.register .btn-action {
        bottom: 0;
    }
    .login100-form-btn {
        font-size: 24px;
        padding: 0 26px;
    }
    .box-btn-skip .btn-outline-secondary {
        font-size: 16px;
    }
    .airplane {
        height: 100px;
    }
    .sound-mute,
    .sound-on {
        width: 35px;
        height: 35px;
    }
    #btn-sound {
        top: 25px;
    }
}

@media screen and (max-width: 568px) {
    .new-container-inner {
        max-width: 375px;
        min-width: auto;
    }
    .conference-auth {
        padding: 30px 8px;
    }
    .login100-form-btn {
        font-size: 18px;
        line-height: 1;
        padding: 0 20px;
        height: 45px;
    }
    .form-input .symbol-input100 {
        font-size: 12px;
        padding-left: 15px;
    }
    .img-logo img,
    .img-text img {
        margin: 0 0 30px;
    }
    .form-input {
        height: auto;
        min-height: 390px;
        padding: 30px 0 0;
    }
    .box-btn-skip .btn-outline-secondary {
        font-size: 14px;
    }
    .airplane {
        height: 80px;
    }
    .sound-mute,
    .sound-on {
        width: 30px;
        height: 30px;
    }
}